.ghpb-well-outline {
  background-color: transparent; 
}

.ghpb-well-outline blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-well-navlist {
  padding: 8px 0;
}


.ghpb-well-navlist blockquote {
  border-color: #ddd;
  border-color:rgba(0,0,0,0.15)
}

.ghpb-nav-header {
  color: #999999;
}

.ghpb-post p {
  font-size: larger;
  margin-bottom: 20px;
}
