$source: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, serif;

$colour_orange: #f79421;
/* $colour_off_white: #f3f1eb; */
$colour_off_white: #d6dfe0; /* 2E353F */
$colour_light_grey: #e4e3dd;
$colour_dark_grey: #787774;
$colour_black: #333333;
$colour_red: #dd4e4d;
$colour_yellow: #fff066;

$colour_green: #61b252;
$colour_green_dark: #53a044;
$colour_green_dark_2: #388924;

$colour_blue: #54b1e4;
$colour_blue_dark: #2b8cdb;
$colour_blue_dark_2: #207cba;

$colour_brand: $colour_yellow;

$colour_background: $colour_off_white;
$colour_links: $colour_blue_dark;
$colour_borders: $colour_light_grey;

$colour_button: #57D6AC;
$colour_button_hover: #A9DAC9;

$giant-screen: 77.777777778em;
$large-screen: 56.888888889em;
$mediumish-screen: 40em;
$medium-screen: 30em;

$base-spacing-unit: 32px;

//These should always be overridden in _config.scss

$logo_path: "../../theme/img/fixmystreet-logo.svg" !default;
$logo_height: 60px !default;
$logo_width: 320px !default;
