@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'pygment_trac';


$logo_path: "/imgages/writeit.png";
$logo_height: 45px;
$logo_width: 157px;
$colour_brand: red;


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
    height: 100%;
}

body {
    font-family: $source;
    background-color: #fff;
    color: $colour_black;
    font-size: 1.125em;
    line-height: 1.555555556em;
    height: 100%;
    min-height: 100%;
}

a {
    color: $colour_links;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-rendering: optimizeLegibility;
}

h1,
.primary-heading {
    font-size: 2.666666667em;
    line-height: 1.1em;
    font-weight: normal;
}

h2,
.secondary-heading {
    font-size: 1.666666667em;
    font-weight: 600;
}

h3,
.tertiary-heading {
    font-size: 1.166666667em;
    font-weight: 600;
}

h4,
.quarternary-heading {
    font-size: 1em;
    text-transform: uppercase;
}

p {
    line-height: 1.4375em;
}

.lead {
    font-size: 1.1875em;
    color: $colour_dark_grey;
    border-bottom: 1px solid $colour_borders;
    padding-bottom: 1em;
    margin-bottom: 1.2em;
    margin-top: 0;
}

.title {font-weight: normal;}

pre, code, kbd, samp {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
}

code {
    border: 1px solid $colour_borders;
    background: $colour_background;
    color: $colour_red;
    border-radius: 3px;
    padding: 0 0.2em;
}

// special case: it's better if code inside links is still coloured
// as a link: this is especially useful for links to things like config
// settings because markdown handles [`text`](link) as intended, but the
// other way -- `[text](link)` -- becomes literal code, with no link.
a code {
  border-color: none;
  color: inherit;
}

pre {
    display: block;
    white-space: pre-wrap;
    background-color: $colour_background;
    border-top: 3px solid $colour_light_grey;
    border-bottom: 3px solid $colour_light_grey;
    padding: 1em;
    max-width: 100%;
    overflow-x: scroll;
    font-size: .9375em;
    line-height: 1.4375em;
    code {
        border: none;
        padding: 0;
        background: none;
    }
}

hr {
    border: none;
    border-top: 1px solid $colour_borders;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 1.3em;
}

blockquote {
    margin-left: 0;
    padding-left: 1em;
    border-left: 5px solid $colour_off_white;
    color: $colour_dark_grey;
    font-style: italic;
}

/* To avoid floaty footer, make background footer colour */
.page-wrapper {
    background: $colour_background;
    float: left;
    width: 100%;
}
.page-wrapper--white {
    width: 100%;
    background: #fff;
}

/* mySociety header */
.ms-header {
    background: transparent;
    border-top: 4px solid #424242;
}

.ms-header__row {
    @extend .container;
}

.ms-header__logo {
    @extend .image-replacement;
    display: block;
    position: absolute;
    right: 0.75em;
    top: 0;
    background-color: #424242;
    background-repeat: no-repeat;
    height: 38px;
    width: 44px;
    border-radius: 0 0 0.75em 0.75em;
    background-size: 22px;
    background-position: 11px 7px ;
    background-image: url('../../theme/img/mysociety-bloom.png');

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../../theme/img/mysociety-bloom@2.png');
    }

    @media (min-width: $medium-screen) {
        border-radius: 0 0 1em 1em;
        background-position: 16px 10px ;
        background-size: 93px 19px;
        background-repeat: no-repeat;
        background-image: url('../../theme/img/mysociety-logo.png');
        width: 125px;
        height: 39px;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../../theme/img/mysociety-logo@2.png');
        }
    }
}

@if $logo_path != "" {
    .site-title {
        @extend .image-replacement;
        height: $logo_height;
        width: $logo_width;
        max-width: 100%;
        display: block;
        background-position: top left;
        background-repeat: no-repeat;
        background-image: url($logo_path);
    }
}
@else {
    .site-title {
        color: #000;
        h1 {
            margin: 0;
        }
    }
}

.site-header {
    border-top: 0.375em solid #424242;
    padding: 1em 0;
    background-position: center;
    background-color: $colour_brand;
}

.site-notice {
  border: 0.2em solid #ffcc00;
  background-color: #ffff99;
  padding: 0.4em;
  text-align: center;
}

.page {
    @extend .container;
}

.main-content-column {
    padding-left: 0 !Important;
    @media (min-width: $large-screen) {
        @include grid-column--three-of-four;
    }
}

.main-content-column-full-width {
    @include grid-column--one-of-one;
}

.main-content {
    background: #fff;
    background: url("/images/imagenFondo.png") no-repeat scroll 100% -200px #fff;
    padding: 1.6em 5%;
    position: relative;
    &.home-page {
      background-position: 100% -50px; // lower the pretty background to show more
    }
    margin-bottom: $base-spacing-unit;
    h2 {
        border-top: 1px solid $colour_borders;
        padding-top: 1.2em;
    }
    .lead + h2 {
        border-top: none;
        padding-top: 0;
    }
    .reveal-on-click + h2 {
        border-top: none;
    }

}

.secondary-content-column {
    @media (min-width: $large-screen) {
        @include grid-column--one-of-four;
    }
}

.breadcrumb {
    @extend .unstyled-list;
    padding: $base-spacing-unit /4 0;
    li {
        display: inline;
        font-size: 0.75em;
        &:after {
            content: '/';
            margin: 0 0.33em;
            color: $colour_light_grey;
        }
        a {
            color: $colour_dark_grey
        }
    }

 }

.sidebar {
    ul {
        @extend .unstyled-list;
        @include columns;
        @media (min-width: $large-screen) {
            @include columns(1);
        }
        ul {
            @include columns(1);
        }
    }
    h2 {
        color: $colour_black;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.875em;
        margin: 0;
        a {
            color: $colour_black;
            font-size: 1em;
            text-decoration: underline;
        }
    }
    a {
        color: $colour_dark_grey;
        font-size: 0.875em;
        &:hover,
        &:active,
        &:focus {
            color: $colour_links;
        }
    }
    li {
        li {
            line-height: 1.4em;
            margin-left: 1em;
        }
    }
}

.list-of-blog-posts {
    @extend .unstyled-list;
}

.listed-blog-post {
    margin-bottom: 2em;
    padding-bottom: 1em;
    .blog-title {
        font-weight: 700;
        .meta {
            font-weight: normal;
        }
    }
}
.blog-post-header {
    .blog-title {
        margin-bottom: 0;
    }
    .meta {
        margin-top: 0;
    }
}

.meta {
    color: $colour_dark_grey;
}

.r,.l {
    margin-bottom: 1em;
    max-width: 50%;
}

.r {
    float: right;
    margin-left: 1em;
}

.l {
    float: left;
    margin-right: 1em;
}

.reveal-all {
    display: inline-block;
    width: auto;
    position: relative;
    right: 0;
    text-decoration: underline;
    cursor: pointer;
    color: $colour_dark_grey;
    padding-left: 1em;
    &:after {
        content: "+";
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        text-align: center;
        color: #787774;
        -webkit-transition: -webkit-transform 0.2s ease-out;
        -moz-transition: -moz-transform 0.2s ease-out;
        -o-transition: -o-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
    }
    &.revealed {
        &:after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: -webkit-transform 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out;
            -o-transition: -o-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
        }
    }
}

.reveal-on-click {
    border: 1px solid $colour_borders;
    dt {
        border-top: 1px solid $colour_borders;
        padding: 1em;
        cursor: pointer;
        position: relative;
        &:hover {
            text-decoration: underline;
        }
        &:first-child {
            border-top: none;
        }
        &:after {
            content: "+";
            position: absolute;
            top: 0.8em;
            right: 1em;
            display: inline-block;
            background: $colour_background;
            border-radius: 50%;
            height: 1.5em;
            width: 1.5em;
            text-align: center;
            color: $colour_dark_grey;
            -webkit-transition: -webkit-transform 0.2s ease-out;
            -moz-transition: -moz-transform 0.2s ease-out;
            -o-transition: -o-transform 0.2s ease-out;
            transition: transform 0.2s ease-out;
        }
        &:hover {
            &:after {
                 background: $colour_links;
                 color: #fff;
            }
        }
         &.revealed {
            &:after {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transition: -webkit-transform 0.2s ease-out;
                -moz-transition: -moz-transform 0.2s ease-out;
                -o-transition: -o-transform 0.2s ease-out;
                transition: transform 0.2s ease-out;
            }
        }
    }
    dd {
        margin-left: 0;
        padding: 0 1em 0;
        position: relative;
        top: -1em;
    }
}

dl.dir-structure, dl.dir-structure dl {
    background: url(../../theme/img/tree-last.png) no-repeat;
    background-position: 0 -29px;
    padding: 0 0 0 21px;
    margin: 0.5em 0 0 0;
}
dl.dir-structure {
    margin-bottom: 1.5em;
}
dl.dir-structure dt {
    background: url(../../theme/img/tree-branch.png) no-repeat;
    background-position: 0 0;
    padding: 20px 0 0 28px;
    margin: 0;
}
dl.dir-structure dd {
    background: url(../../theme/img/tree-upright.png) repeat-y;
    padding: 0 0 0em 40px;
    margin: 0;
}
dl.dir-structure dd p {
    margin:0;
    padding: 0 0 0.5em 0;
}
dl.dir-structure dt.last {
    background: url(../../theme/img/tree-last.png) no-repeat;
}
dl.dir-structure dd.last {
    background-image: none;
    padding-bottom: 0; /* gap at bottom of nested trees is big enough as it is */
}

table.table {
    border: 1px solid #ccc;
    margin: 0.5em 0 1em;
    border-collapse:collapse;
}
table.table th {
    background-color: #f5f5f5;
}
table.table th,
table.table td {
    border: 1px solid #ccc;
    padding: 0.666em;
}

.attention-box {
    padding: 1em;
    margin-bottom: 1.2em;
    border-radius: 3px;
    background-color: mix(#fff, $colour_blue, 85%);

    &.info {
      background-color: mix(#fff, $colour_blue, 85%);
    }

    &.helpful-hint {
      background-color: mix(#fff, $colour_yellow, 75%);
    }

    &.warning {
      background-color: mix(#fff, $colour_red, 85%);
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    code {
      // code samples should pick up background colour of parent
      border-color: rgba(#ccc, 0.5);
      background: rgba(#fff, 0.5);
    }
}

.definitions {
    @extend .inline-list;
    @extend .unstyled-list;
    li {
        margin-left: 0.25em;
    }
    a {
        display: inline-block;
        background-color: $colour_background;
        border-radius: 2em;
        padding: 0.33em 0.66em;
        color: $colour_black;
        font-size: 0.875em;
        margin-bottom: 1em;
        &:hover,
        &:active,
        &:focus {
            color: #fff;
            background-color: $colour_black;
            text-decoration: none;
        }
    }
}

.glossary {
    margin: 2em 0 8em 0; /* big margin helps scroll-to #name at bottom of page */
}

.glossary dt {
    background-color: $colour_background;;
    padding: 0.66em 1em;
    margin-top: 3em;
    border: 1px solid $colour_borders;
    border-bottom: none;
    color: $colour_dark_grey;
    a {
        color: $colour_black;
        font-size: 1.5em;
        font-weight: 300;
    }
}

.glossary dt a:hover {
    text-decoration: none;
}

.glossary dd {
    border:1px solid $colour_borders;
    border-top:none;
    padding: 1em 2em;
    margin: 0;
}

.glossary dd p {
    margin-top: 0.666em;
}

.glossary .more-info {
    margin: 1em 0 0 0;
}

.glossary .more-info > p {
    float: left;
    color: $colour_dark_grey;
    width: 8em;
    margin: 0;
}

.glossary .more-info ul {
    margin-top: 0.5em;
    margin-left: 10em;
}

.glossary .hidden-title {
  display: hidden;
}

/* examples benefit from full-width (because they're often code snippets) */
.glossary .more-info ul.examples {
   clear: both;
   padding-top: 0.666em;
   margin-left: 0em;
}

.glossary__link {
    display: inline-block;
    color: $colour_dark_grey;
    text-decoration: underline;
    position: relative;
    padding-left: .5em;
    &:before {
        content: '#';
        opacity: 0.5;
        text-decoration: none;
        position: absolute;
        left: 0;
    }
    &:hover,
    &:active,
    &:focus {
        color: $colour_black;
        &:before {
            opacity: 1;
        }
    }
}

.site-footer {
    width: 100%;
    clear: left;
    background: $colour_black;
    padding: $base-spacing-unit 0;
    @include clearfix;
    .column {
        @include grid-column--one-of-two;
        @media (min-width: $medium-screen) {
            @include grid-column--one-of-four;
        }
        @media (min-width: $large-screen) {
            @include grid-column--one-of-five;
        }
    }
    // This, plus the default float right on .central, means that the last
    // column fits in the nice gap left by the long .central column
    .column:last-child {
        h3 {
            margin-top: 1em;
        }
        @media (min-width: $medium-screen) {
            h3 {
                margin-top: 0;
            }
        }
    }
    .central {
        float: right;
        @media (min-width: $medium-screen) {
            ul {
                @include columns(1);
            }
            @include grid-column--two-of-four;
        }
        @media (min-width: $mediumish-screen) {
            ul {
                @include columns(2);
            }
            @include grid-column--two-of-four;
        }
        @media (min-width: $large-screen) {
            ul {
                @include columns(3);
            }
            @include grid-column--three-of-five;
        }
    }
    h3 {
        font-size: 1em;
        font-weight: normal;
        margin-bottom: 0;
        color: #888;
    }
    ul {
        margin: 0;
        @extend .unstyled;
    }
    a {color: #eeeeee;}
}

.site-header {
  background-color: #2E353F;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  a.site-logo {
    margin:0 1em;
  }
  ul.menu {
    float: right;
    list-style: none outside none;
    margin: 0 1em;
    padding: 10px 0;
    li {
      display: inline-block;
      margin: 0 0.5em 0 0;
      a {
      	color: #FFFFFF;
      	text-decoration: none;
      	background: none repeat scroll 0 0 #242B33;
      	border-radius: 5px;
      	padding: 8px 14px;
        &:hover {
          background: #0a0c0f;
        }
      }
      &.poplus-logo a {
      	color: #c3d83a;
      	position: relative;
      	padding-left: 39px;
        &:before {
        	content: url("/images/icon-poplus.png");
        	left: 12px;
        	top: 8px;
        	position: absolute;
        }
        
      }
    }
  }
}

// the home page, reworked from home-style
#hero-left {
  max-width: 28em;
  h1 {
    margin:1em 0;
  }
  p, a.button {
    font-size:1.4em;
  }
}

.site-footer {
  font-size: 85%;
  overflow: hidden;
  padding: 30px 0 30px;
  color:white;
}
.footer-right {
  text-align: right;
  margin-right: 1em; 
}

.button {
  background-color: $colour_button;
  color: white;
    display: inline-block;
    padding: 0.4em 2.4em;
    border: 1px solid $colour_borders;
    vertical-align: middle;
    border-radius: 7px;
    text-align: center;
    &:hover,
    &:active,
    &:focus {
        background-color: $colour_button_hover;
        border-color: rgba(255,255,255,0.2);
        text-decoration: none;
    }
}
