{% extends "base_public.html" %}
{% load i18n %}

{% block content_inner %}

    {% include "write/breadcrumb.html" with current_step=2 %}

    <h1>DRAFT MESSAGE PAGE</h1>

    <p>What do you want your message to say?</p>

    <textarea></textarea>

    <p class="writing-buttons">
        <a class="writing-buttons__button--previous" href="{% url 'write_who' slug='foo' %}">{% trans "Change recipients" %}</a>
        <a class="writing-buttons__button--next" href="{% url 'write_preview' slug='foo' %}">{% trans "Preview message" %}</a>
    </p>

{% endblock content_inner %}
