{% extends "base_public.html" %}
{% load i18n %}

{% block content_inner %}

    {% include "write/breadcrumb.html" with current_step=3 %}

    <h1>PREVIEW MESSAGE PAGE</h1>

    <p>Here's a preview of your message:</p>

    <blockquote>Foo bar baz</blockquote>

    <p class="writing-buttons">
        <a class="writing-buttons__button--previous" href="{% url 'write_draft' slug='foo' %}">{% trans "Edit message" %}</a>
        <a class="writing-buttons__button--next" href="{% url 'write_sign' slug='foo' %}">{% trans "Send message" %}</a>
    </p>

{% endblock content_inner %}
