{% extends "base_public.html" %}
{% load i18n %}

{% block content_inner %}

    {% include "write/breadcrumb.html" with current_step=4 %}

    <div class="writing-step writing-step--confirm-email">

        <p>{% trans "Thanks, your message will be sent once you click the confirmation link in your email." %}</p>

        <!-- Temporary, while we're testing! -->
        <p style="font-size: 0.8em; margin-top: 4em"><a href="{% url 'thread_read' pk=1337 %}">DEBUG: Skip to next page</a></p>
    </div>

{% endblock content_inner %}
