{% extends "base_instance.html" %}
{% load i18n %}
{% load static %}

{% block extracss %}
    <style type="text/css">
    .chosen-container .chosen-results .uncontactable:after {
        content: '{% trans "(No contact details)" %}';
    }
    </style>
{% endblock extracss %}

{% block extrascripts %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script>
    window.who = {
        max_selected_options: {{ writeitinstance.config.maximum_recipients }},
        no_results_text: '{% trans "No recipients match" %}'
    }
    </script>
    <script src="{% static 'js/who.js' %}"></script>
{% endblock extrascripts %}

{% block content_inner %}

  {% if writeitinstance.can_create_messages %}

    {% include "write/breadcrumb.html" with current_step=1 %}

    <form class="writing-step" action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        <p class="form-group">
            <label for="id_who-persons">
                {% blocktrans count counter=writeitinstance.config.maximum_recipients %}
                    Search for the recipient by name, or select from the drop-down.
                {% plural %}
                    Search for recipients by name, or select from the drop-down. <br/ ><br />
                    You can send your message to up to {{ counter }} people.
                {% endblocktrans %}
            </label>
            {{ form.persons.errors }}
            {{ form.persons }}
        </p>

        <p class="writing-buttons">
            <input class="writing-buttons__button--next" type="submit" value="{% trans "Draft message" %}"/>
        </p>
    </form>

  {% else %}
  <h1>{% trans "Sorry" %}</h1>
  <p>{% trans "You can’t currently create new messages using this site." %}</p>
  {% endif %}

{% endblock content_inner %}
