{% extends "base_instance.html" %}
{% load i18n %}
{% load static %}

{% block extrascripts %}
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
    $(".chosen-person-select").chosen({
      width: '100%',
      max_selected_options: {{ writeitinstance.config.maximum_recipients }},
      no_results_text: '{% trans "No recipients match" %}',
      placeholder_text_multiple: ' ', // hide placeholder text
      placeholder_text_single: ' ', // hide placeholder text
      single_backstroke_delete: false
    });
{% endblock extrajs %}

{% block content_inner %}

    {% include "write/breadcrumb.html" with current_step=1 %}

    <form class="writing-step" action="" method="post">{% csrf_token %}
        {{ wizard.management_form }}
        <p class="form-group">
            <label for="id_who-persons">
                {% blocktrans count counter=writeitinstance.config.maximum_recipients %}
                    Search for recipient by name
                {% plural %}
                    Search for up to {{counter }} recipients by name
                {% endblocktrans %}
            </label>
            {{ form.persons.errors }}
            {{ form.persons }}
        </p>

        <p class="writing-buttons">
            <input class="writing-buttons__button--next" type="submit" value="{% trans "Draft message" %}"/>
        </p>
    </form>

{% endblock content_inner %}
