{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load pagination_tags %}
{% load nuntium_tags %}
{% load staticfiles %}

{% block extrajs %}
$(function() {
  $('.toggle-enable').change(function() {
    $.ajax({
      url: "{% url 'toggle-enabled' %}",
      method: 'POST',
      data: {
        id: $(this).attr('contact-id')
      }
    });
  });
});
{% endblock extrajs %}

{% block extracss %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock extracss %}

{% block extrascripts %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
{% endblock extrascripts %}

{% block header %}
{% include 'nuntium/profiles/per_instance_top_menu.html' with section='contacts-per-writeitinstance' %}
{% endblock header %}

{% block content %}
  <div class="page-header">
    <h2>{% trans "Recipients" %}</h2>
    {% if WEB_BASED %}
      <a href="{% url 'writeitinstance_recipients_settings_update' subdomain=writeitinstance.slug %}"
        class="page-header__settings-link btn btn-default btn-sm"><i class="glyphicon glyphicon-wrench"></i> {% trans "Settings" %}</a>
    {% endif %}
  </div>
  <div class="manager-overview">

  {% if writeitinstance.persons.count %}
    {% blocktrans count person_count=writeitinstance.persons_with_contacts.count %}
    There is <strong>1</strong> contactable person
    {% plural %}
    There are <strong>{{ person_count }}</strong> contactable people 
    {% endblocktrans %}

    {% if writeitinstance.persons_with_contacts.count < writeitinstance.persons.count %}
    from <strong>{{ writeitinstance.persons.count }}</strong> total records
    {% endif %}
  {% endif %}

  </div>
      {% autopaginate people %}
      {% paginate %}
      <table class="table table-striped recipients-table">
        <thead>
          <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Email" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
          <tr class="recipients-table__person-row">
            <td><span class="person-row__name">{{ person.name }}</span></td>
            <td>{% show_contacts_for person writeitinstance %}</td>
          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">{% trans "There are no People linked from Popit." %} 
              <a href="{% url 'relate-writeit-popit' subdomain=writeitinstance.slug %}">{% trans "Connect to a data source to add some." %}</a>
            </td></tr>
          {% endfor %}
        </tbody>
      </table>
      {% paginate %}


{% endblock content %}
