{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load pagination_tags %}
{% load nuntium_tags %}
{% load staticfiles %}

{% block extrajs %}
$(function() {
  $('.toggle-enable').change(function() {

    var csrftoken = $.cookie('csrftoken');
    $.post("{% url 'toggle-enabled' %}",{
      "csrfmiddlewaretoken":csrftoken,
      'id': $(this).attr('contact-id')
    }, function(data){

    })
  })
})
{% endblock extrajs %}

{% block extracss %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock extracss %}

{% block extrascripts %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
{% endblock extrascripts %}

{% block header %}
{% include 'nuntium/profiles/breadcrumbs.html' with writeitinstance=writeitinstance %}

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='contacts-per-writeitinstance' %}

{% endblock header %}

{% block content %}
  <div class="page-header">
    <h2>{% trans "Recipients" %}</h2>
  </div>

      {% autopaginate people %}
      {% paginate %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Person" %}</th>
            <th>{% trans 'Contacts' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
          <tr>
            <td>{{ person.name }}</td>
            <td>{% show_contacts_for person writeitinstance %}</td>
          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">{% trans "There are no recipients" %}</td></tr>
          {% endfor %}
        </tbody>
      </table>
      {% paginate %}


<!-- Modal -->
<div class="modal fade" id="addNewContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var loadAddNewContactModal = function(url, title){
  console.log(title)
  $('#myModalLabel').text(title)
  $('.modal-body').load(url)
  $('#addNewContact').modal('show')
}
$(function() {
});
</script>
{% endblock content %}
