{% extends "base_instance.html" %}
{% load i18n %}
{% load subdomainurls %}

{% block content %}

    <div class="site-content">
        <div class="container">
            <div class="instance-hero">
                <p class="instance-hero__welcome">Kérdezzen az igazságügyi minisztertől, amíg még lehet</p>
                <h2 class="instance-hero__heading">
                    Hétfőn szavaz a Parlament az információszabadság-törvény módosításáról. Ha elfogadják a javaslatot, akkor nehezebb és drágább lesz hozzáférni a közérdekű adatokhoz. <br /><br />Ha szeretné tudni,  mire fordítják az adóját, írjon levelet az igazságügyi miniszternek. Kérje a törvénymódosítás visszavonását.<br />
                </h2>
                {% if writeitinstance.can_create_messages %}
                    <a class="btn btn-primary btn-lg" href="{% url 'write_message' subdomain=writeitinstance.slug %}">{% trans "Send a message" %}</a>
                {% endif %}
            </div>
        </div>

      {% if recent_messages %}
        <div class="instance-summary">
            <div class="container">
                <div class="instance-summary__recent">
                    <h2>{% trans "Recent messages" %}</h2>
                    {% for message in recent_messages %}
                        {% include 'thread/message_mini.html' %}
                    {% endfor %}
                </div>
                {% comment "Hiding Most popular representatives until we have them" %}
                <div class="instance-summary__popular">
                    <h2>{% trans "Most popular representatives" %}</h2>
                    <p><strong>TODO:</strong> Show representatives here.</p>
                </div>
                {% endcomment %}
            </div>
        </div>
      {% endif %}
    </div>

{% endblock content %}

{% block search_form %}

    <form action="{% url 'instance_search' subdomain=writeitinstance.slug %}" class="navbar-form navbar-right" method="get"  role="form">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Search within messages</label>
            <input type="text" class="form-control" name="q" id="id_q" placeholder="{% trans 'Search within messages' %}">
        </div>
        <button type="submit" class="btn btn-success" >{% trans 'Search' %}</button>
    </form>

{% endblock search_form%}
