*.log
*.pot
*.pyc
*.DS_store
*.mo
*.db
*.swp
.coverage
.ropeproject
mailing_logger.txt
celerybeat-schedule

*.sublime-project
*.sublime-workspace
popit-api-for-testing
src
*.egg-info

.vagrant/

writeit/static/
attachments/

# Django settings files
local_settings.py
local_settings_*.py

# mysociety specific
conf/httpd.conf
conf/httpd.conf.deployed
conf/general.yml
conf/general.yml.deployed
conf/local_settings.py
conf/local_settings.py.deployed
/.static
/.venv
