urllib3
Django==1.6.10
django-plugins
South
-e git://github.com/mysociety/popit-django.git#egg=popit-django
python-mimeparse
django-tastypie==0.11.0
email_reply_parser
flufl.bounce
django-markdown-deux
requests
django-extensions
django-haystack
django-pipeline
libsass
elasticsearch
celery
pyyaml
django-celery
django-autoslug
pytz>=2013b
django-admin-bootstrapped
django-object-actions
unidecode
python-social-auth==0.2.3
django-nose
mock
python-dateutil
#things required in heroku
gunicorn
dj-database-url==0.2.2
dj-static==0.0.5
#psycopg2==2.5.1
static==0.4
wsgiref==0.1.2
kombu
billiard==3.3.0.19
pyOpenSSL
ndg-httpsclient
pyasn1
django-pagination
django-annoying
celery-haystack==0.8
django-celery-transactions<0.2.0
django-downloadview==1.6
django-subdomains==2.0.4
vcrpy==1.4.0
