Django
django-plugins
South
popit-django
python-mimeparse
django-tastypie==0.11.0
email_reply_parser
flufl.bounce
django-markdown-deux
requests
django-extensions
django-subdomains
django-haystack
pyelasticsearch
celery
pyyaml
django-celery
django-autoslug
pytz>=2013b
django-admin-bootstrapped
django-object-actions
unidecode
