{% extends "base_instance.html" %}
{% load nuntium_tags %}
{% load i18n %}

{% block content_inner %}



    <div class="full-width-wrapper">
    <article class="centred page">
        <h1>به دیدبان مجلس خوش آمدید!</h1>

        <p>
نظارت بر عملکرد پارلمان، به عنوان خانه‌ی مردم، در بسیاری از کشورهای جهان معمول است. از ایرلند و آلمان گرفته تا تونس و پاکستان وب‌سایت‌هایی به همین منظور فعالیت می‌کنند...و روز به روز نیز بر تعداد آنها افزوده می‌شود.
</p>
<p>
دیدبان مجلس نخستین وب‌سایتی است که به نظارت بر عملکرد مجلس ایران و نمایندگانش می‌پردازد. دیدبان مجلس پروژه‌ای کاملا مستقل است که پیش از این از حمایت دانشگاه تورنتو برخوردار می‌شد و پدیدآورندگان آن پیشتر «روحانی‌سنج»، اولین وعده‌سنج ایرانی را معرفی کرده‌ بودند. مهمترین هدف ما، افزایش شفافیت در پارلمان و همچنین ترویج فرهنگ پاسخگویی در میان منتخبینِ مردم است.
</p>
<p>
بی‌شک آشنایی بیشتر رای‌دهندگان با نمایندگانشان و حفظ ارتباط با‌ آنها در تقویت این فرهنگ بسیار موثر خواهد بود. از این‌رو در دیدبان مجلس، هر کدام از ۲۹۰ نماینده‌ی مجلس صفحه‌‌ای مخصوص به خود دارند که از  آن طریق آنها می‌توانید علاوه بر آشنایی با سوابق‌ و فعالیت‌هایشان، درباره‌ی فعالیت‌های آنان نظر و به عملکردشان رای دهید. ما همچنین با گرداوری اطلاعات تماس نمایندگان مجلس، تلاش کرده‌ایم تا ارتباط شما را با منتخبین خود آسان کنیم. 
دیدبان مجلس می‌خواهد جایی باشد برای گفتگوی شهروندان درباره مسائل گوناگون مجلس و فضایی برای بررسی و سنجش عملکرد نمایندگان مردم در پارلمان. بدون شک با همراهی و همیاری شما این مهم بهتر محقق می‌شود. از همین‌رو از شما می‌خواهیم که برای بهتر شدن کیفیت کار، اهالیِ دیدبان مجلس را از نظرات و پیشنهاداتتان بی‌بهره نگذارید.
</p>
    </article>
</div>
{% endblock content_inner %}
