<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="website" />
    
    <title>Write In Public</title>
    <meta property="og:title" content="Write In Public"/>

    <!-- <meta name="description" content="برای دریافت جدیدترین فیلترشکنها راه بهتری وجود دارد" />
    <meta property="og:description" content="برای دریافت جدیدترین فیلترشکنها راه بهتری وجود دارد" />
    <meta property="twitter:description" content="برای دریافت جدیدترین فیلترشکنها راه بهتری وجود دارد" /> -->

    <!-- <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@aslnoozdah" />
    <meta name="twitter:creator" content="@aslnoozdah" /> -->

    <!-- <meta property="og:image" content="https://paskoocheh.com/images/logo-300w-padded.png?v=2016-06-13" />
    <meta property="twitter:image" content="https://paskoocheh.com/images/logo-1000w-padded.png?v=2016-06-13" /> -->

    <link rel="stylesheet" href="/stylesheets/global.css" type="text/css" />
    

    <!--[if lte IE 8]>
        <script src="/libraries/html5shiv-printshiv-3.7.3.min.js" type="text/javascript"></script>
        <script src="/libraries/rem-unit-polyfill-1.3.4.min.js" type="text/javascript"></script>
    <![endif]-->

    <!-- RealFaviconGenerator.net favicons -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png?v=2016-06-13">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png?v=2016-06-13">
    <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=2016-06-13" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicons/favicon-194x194.png?v=2016-06-13" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=2016-06-13" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png?v=2016-06-13" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=2016-06-13" sizes="16x16">
    <link rel="manifest" href="/favicons/manifest.json?v=2016-06-13">
    <link rel="shortcut icon" href="/favicons/favicon.ico?v=2016-06-13">
    <meta name="apple-mobile-web-app-title" content="پس‌کوچه">
    <meta name="application-name" content="پس‌کوچه">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=2016-06-13">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml?v=2016-06-13">
    <meta name="theme-color" content="#1b75ba"> -->
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
    <li>
        <a href="/index.html">Home</a>
    </li>
    <li>
        <a href="/about.html">About</a>
    </li>
</ul>

            <a class="write-link" href="/write/who.html">Write to Majlis</a>
        </nav>
        
        <div class="promo-wrapper full-width-wrapper">
            <div class="promo centred">
                <p>Write to your members of parliament.</p>
                <p>Have your voice be heard.</p>
                <div class="button-centring-container">
                    <a href="/write/who.html" class="button send-letter">Send letter</a>
                </div>
            </div>
        </div>
        
    </header>
    <div class="full-width-wrapper">
    <article class="centred page">
        <h1>About This Site</h1>

        <p>Got a question for a politician? Want to hold someone to account, get answers, or just make a point?</p>

        <p>We believe that when conversations are held in public, great things happen:</p>

        <ul>
          <li>It’s easier to hold people in power to their word.</li>
          <li>There’s a permanent record of everything that’s been said.</li>
          <li>You can share the correspondence with anyone, at any time.</li>
          <li>And all the while, you’re helping to build a public archive of conversations about the things that matter.</li>
        </ul>

        <p>That’s why we built planningalerts. With just a few clicks you can now send messages to the politicians who represent you.</p>

        <h2>How does it work?</h2>

        <p>Pick your recipients, compose your letter, and press ‘Send’.</p>

        <p>Once you’ve confirmed your email address, we’ll send your message on its way, and also publish it on this site for everyone to see.</p>

        <p>When you get a reply, we’ll publish that too.</p>



        <h3>How public is ‘public’?</h3>

        <p><b>We’ll publish your message, and your name alongside it, on this public website.</b> You should be aware that, as a result, your message will appear in future searches for your name on search engines. Anyone browsing this site will also be able to see it.</p>

        <p><b>We encourage the use of real names</b>, although it’s not mandatory. Your chosen recipient will be obliged to use his or her real name when replying, and we think it’s only right that you extend them the same courtesy. If you’re not happy to put your name to a message, we’d suggest that you don’t send it.</p>

        <p><b>We won’t publish your email address</b>. We ask for it so that we can:</p>

        <ul>
          <li>verify that your message has come from a genuine person, not a spammer or a bot</li>
          <li>alert you when you receive a reply from your recipient</li>
          <li>let you know of any issues or problems we may have had sending your message</li>
          <li>(rarely) send you important information about the site.</li>
        </ul>

        <h3>How was this site built?</h3>

        It runs on the WriteInPublic software, which was developed by <a href="http://ciudadanointeligente.org/">Fundación Ciudadano Inteligente</a> and <a href="https://www.mysociety.org/ ">mySociety</a> on top of WriteIt, a <a href="http://poplus.org/">Poplus</a> Component.

        You can run a site like this too. Find out more at <a href="http://WriteInPublic.com">WriteInPublic.com</a>.
    </article>
</div>

    <footer class="footer full-width-wrapper">
        <nav class="navbar">
            <ul>
    <li>
        <a href="/index.html">Home</a>
    </li>
    <li>
        <a href="/about.html">About</a>
    </li>
</ul>

        </nav>
    </footer>

    
</body>
</html>
