{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

            <div class="letter-view container">

                <div class="address">

                    <p><span>{% trans "From" %}: </span>
          {% with answer.person as person %}
            {% if person_links %}
              <a href="{% url 'thread_to' pk=person.pk %}" title="{% blocktrans with name=person.name %}Show all messages to {{ name }}{% endblocktrans %}">{{ person.name }}</a>{% if not forloop.last %},{% endif %}
            {% else %}
              {{ person.name }}{% if not forloop.last %},{% endif %}
            {% endif %}
          {% endwith %}
                    </p>

                    <p><span>{% trans "Date" %}: </span>{{ answer.created|localize_datetime:LANGUAGE_CODE }}</p>
                </div>

                <div class="content">{{ answer.content|linebreaksbr }}</div>

  {% if answer.attachments.exists %}
    <div class="message__attachments">
      {% for attachment in answer.attachments.all %}
        <a class="label label-primary" href="{% url 'attachment' pk=attachment.pk %}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> {{attachment.name}}</a>
      {% endfor %}
    </div>
  {% endif %}

            </div>
