{% assign body_filter_html = null %}
{% capture body_filter_html %}
	<body>
		{% include body/sections/navbar.html %}
		{% include body/sections/alerts_and_notices/site.html %}
		<div class="container">
			<div class="row">
				<div class="span8">
					{% include body/sections/header/page.html %}
					{% include body/sections/alerts_and_notices/page.html %}
					<div name="filter-body">
					</div>
				</div>
				<div class="span3 offset1">
					{% include body/sections/brief-bio.html %}
					{% include body/sections/navlists.html %}
				</div>
			</div>
			{% include body/sections/footer.html %}
		</div>
		{% include body/sections/javascript.html %}
		{% include body/sections/javascript/filter.html %}
	</body>
{% endcapture %}
{{ body_filter_html | strip_newlines | remove:'	' }}
