{% assign body_post_html = null %}
{% capture body_post_html %}
	{% assign enable_disqus = false %}

	{% if site.disqus.enabled and page.disqus == null %}
		{% assign enable_disqus = true %}
	{% elsif site.disqus.enabled and page.disqus.enabled == null %}
		{% assign enable_disqus = true %}
	{% elsif site.disqus.enabled and page.disqus.enabled %}
		{% assign enable_disqus = true %}
	{% endif %}

	<body>
		{% include body/sections/navbar.html %}
		{% include body/sections/alerts_and_notices/site.html %}
		<div class="container">
			<div class="row">
				<div class="span8">
					<div class="ghpb-post">
						{% include body/sections/header/post.html %}
						{% include body/sections/alerts_and_notices/post.html %}
						{{ content }}
						{% if enable_disqus %}
							<br>
							<br>
							<div id="disqus_thread"></div>
							<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
							<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
						{% endif %}
					</div>
				</div>
				<div class="span3 offset1">
					{% include body/sections/brief-bio.html %}
					{% include body/sections/navlists.html %}
				</div>
			</div>
			{% include body/sections/footer.html %}
		</div>
		{% include body/sections/javascript.html %}
		{% include body/sections/javascript/post/disqus.html %}
	</body>
{% endcapture %}
{{ body_post_html | remove:'	' }}