{% if site.sections.brief_bio.enabled %}
	{% assign section_brief_bio_html = null %}
	{% capture section_brief_bio_html %}
		<div class="well">
			{% if site.sections.brief_bio.image.enabled %}
				<div class="thumbnail">
					<img data-src="holder.js/200x200" alt="" src="{{ site.sections.brief_bio.image.url }}">
				</div>
			{% endif %}
			
			{% if site.sections.brief_bio.content.enabled %}
				<br>
				<div class="text-center">
					{% include content/brief-bio.html %}
				</div>
			{% endif %}
			{% include body/sections/brief_bio/social-links.html %}
			{% include body/sections/brief_bio/github-projects.html %}
		</div>
	{% endcapture %}
	{{ section_brief_bio_html | strip_newlines | remove:'	' }}
{% endif %}