{% assign section_footer_html = null %}
{% capture section_footer_html %}
	{% assign footer_earliest_year = null %}
	{% capture footer_earliest_year %}{{ site.time | date: "%Y" }}{% endcapture %}

	{% assign footer_latest_year = footer_earliest_year %}

	{% if site.posts.size > 0 %}
		{% for footer_p in site.posts %}

			{% assign footer_post_year = null %}
			{% capture footer_post_year %}{{ footer_p.date | date: "%Y" }}{% endcapture %}

			{% if footer_post_year < footer_earliest_year %}
				{% assign footer_earliest_year = footer_post_year %}
			{% endif %}

			{% if footer_post_year > footer_latest_year %}
				{% assign footer_latest_yest = footer_post_year %}
			{% endif %}

		{% endfor %}
	{% endif %}

	<div class="row ghpb">
		<div class="span8">
			&copy; Copyright 
			{% if footer_earliest_year == footer_latest_year %}
				{{ footer_earliest_year }}
			{% else %}
				{{ footer_earliest_year }}-{{ footer_latest_year }}
			{% endif %}
		</div>
		<div class="span4 text-right">
			<small><a href="https://github.com/thedereck/gh-pages-blog" target="_blank">FORK GH-PAGES-BLOG ON GITHUB</a></small>
		</div>
	</div>
{% endcapture %}
{{ section_footer_html | strip_newlines | remove:'	' }}