{% extends "base_instance.html" %}
{% load i18n %}

{% block body_class %}page-contains-messages{% endblock %}

{% block promo %}
{% endblock %}

{% block content_inner %}
<div class="full-width-wrapper write-wrapper">
<main class="centred write">

    {% include "write/breadcrumb.html" with current_step=3 %}

    <div class="writing-step">
        <h1>{% trans "Preview message" %}</h1>
        <!-- :TODO: break this out into separate template, so we can re-use it on message/thread viewing pages -->
        {% include "thread/message.html" with message=message %}
        <div class="privacy-reminder">
          <h2><i class="fa"></i> {% trans "Attention!" context "(iran only) On the message preview page, before the warning about name and message being public on the internet" %}</h2>
          <p>{% trans "Once you send this message, it will be available on the Internet for anyone to read. Your name will be included alongside the message. Your email address will not be public." %}</p>
        </div>
        <form action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}

            <p class="writing-buttons">
                <a class="writing-buttons__button--previous" href="{% url 'write_message_step' step=wizard.steps.prev %}">{% trans "Edit message" %}</a>
                    <input class="writing-buttons__button--next" type="submit" value="{% trans "Send message" %}"/>
            </p>
        </form>
    </div>

    </main>
</div>
{% endblock content_inner %}
