{% extends "base_instance.html" %}
{% load i18n %}
{% load subdomainurls %}

{% block body_class %}page-contains-messages{% endblock %}

{% block content_inner %}
    <div class="results">
        <div class="results__messages">
          {% for message in message_list %}
            {% include "thread/message_mini.html" with message=message %}
          {% endfor %}
        </div>
        <div class="results__actions">
            <!-- This is commented out as of #711 but it should probably come back to life once we finish #691 and #690 -->
            <!--
            <h3 class="results__actions__heading">{% trans "Show messages" %}</h3>
            <ul>
                <li class="radio">
                    <label>
                        <input type="radio" name="example-radios" checked>
                        {% trans "All messages" %}
                    </label>
                </li>
                <li class="radio">
                    <label>
                        <input type="radio" name="example-radios">
                        {% trans "Awaiting reply" %}
                    </label>
                </li>
            </ul>

            <h3 class="results__actions__heading">{% trans "Search messages" %}</h3>
            <p>
              <input type="search" class="form-control" placeholder="Search…">
            </p>
        -->
        </div>
    </div>
{% endblock content_inner %}
