{% load i18n %}

{# :TODO: Might want to merge this into /thread/message.html? #}

{% get_current_language as LANGUAGE_CODE %}

<div class="message message--reply">
    <dl class="message__meta">

        <dt>{% trans "From" %}</dt>
        <dd>
          {% with answer.person as person %}
            {% if person_links %}
              <a href="{% url 'thread_to' pk=person.pk %}" title="{% blocktrans with name=person.name %}Show all messages to {{ name }}{% endblocktrans %}">{{ person.name }}</a>{% if not forloop.last %},{% endif %}
            {% else %}
              {{ person.name }}{% if not forloop.last %},{% endif %}
            {% endif %}
          {% endwith %}
        </dd>

        {% if answer.created %}
            <dt>{% trans "Date" %}</dt>
            <dd>{{ answer.created|localize_datetime:LANGUAGE_CODE }}</dd>
        {% endif %}

    </dl>
    <div class="message__content">
        {{ answer.content|linebreaksbr }}
    </div>

  {% if answer.attachments.exists %}
    <div class="message__attachments">
      {% for attachment in answer.attachments.all %}
        <a class="label label-primary" href="{% url 'attachment' pk=attachment.pk %}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> {{attachment.name}}</a>
      {% endfor %}
    </div>
  {% endif %}

</div>
