{% extends "base_instance.html" %}
{% load i18n %}

{% block content_inner %}

    <div class="person-profile">
        <img class="person-profile__photo" src="http://placehold.it/128x128" width="128" height="128">
        <h2 class="person-profile__name">Joe Bloggs</h2>
        <p class="person-profile__context">6 messages sent &middot; Most recent, 2 weeks ago</p>
    </div>

    <div class="person-messages">
        <p><strong>TODO:</strong> Messages to/from this person.</p>
    </div>

{% endblock content_inner %}
