{% load i18n %}

<div class="message {% if recently_sent %}message--sent{% endif %}">
    <dl class="message__meta">

        <dt>{% trans "To" %}</dt>
        <dd>
          {% for person in message.people %}
            {% if person_links %}
              <a href="{% url 'thread_to' pk=person.pk %}" title="{% blocktrans with name=person.name %}Show all messages to {{ name }}{% endblocktrans %}">{{ person.name }}</a>{% if not forloop.last %},{% endif %}
            {% else %}
              {{ person.name }}{% if not forloop.last %},{% endif %}
            {% endif %}
          {% empty %}
            &nbsp;
          {% endfor %}
        </dd>

        <dt>{% trans "From" %}</dt>
        <dd>
          {% if message.author_name %} 
            {% if person_links %}
            <a href="{% url 'all-messages-from-the-same-author-as' message_slug=message.slug %}" title="{% blocktrans with name=message.author_name %}Show all messages from {{ name }}{% endblocktrans %}">{{ message.author_name }}</a>
            {% else %}
              {{ message.author_name }}
            {% endif %}
          {% else %}
          {% trans "Anonymous" %}
          {% endif %}

          {% if recently_sent %}
            <small class="text-muted">({% trans "Recipients will not see your email address" %})</small>
          {% endif %}
        </dd>

        <dt>{% trans "Subject" %}</dt>
        <dd>{{ message.subject }}</dd>

        {% if message.created %}
            <dt>{% trans "Date" %}</dt>
            <dd>{{ message.created }}</dd>
        {% endif %}

    </dl>
    <div class="message__content">
        {{ message.content|linebreaksbr }}
    </div>
</div>
