{% load i18n %}

<div class="message {% if recently_sent %}message--sent{% endif %}">
    <dl class="message__meta">
        <dt>{% trans "To" %}</dt>
        <dd>Alice Brown, Bob Black</dd>
        <dt>{% trans "From" %}</dt>
        <dd>Joe Bloggs <small class="text-muted">({% trans "Recipients will not see your email address" %})</small></dd>
    </dl>
    <div class="message__content">
        <p>Dear representatives,</p>
        <p>I am writing to inform you of blah blah blah blah. Blah blah blah. Blah blah blah blah blah blah blah. Blah blah blah. Blah blah blah blah blah blah blah.</p>
        <p>I would like to request blah blah blah blah blah. Blah blah blah blah blah blah blah. Blah blah blah. Blah blah blah blah blah blah blah.</p>
        <p>Yours,</p>
        <p>J. Bloggs</p>
    </div>
</div>
