{% extends "base_instance.html" %}
{% load i18n %}

{% block content_inner %}

    <!-- We should only show this the first time they see this page -->
    {% include "write/breadcrumb.html" with current_step=5 %}

    <div class="writing-step">
        <div class="writing-step__congratulations">
            <h2>{% trans "Your message has been sent" %} :&thinsp;)</h2>
            <p>{% trans "We will email you when there’s a reply.<br/>Or you can bookmark this page and check back later." %}</p>
        </div>

        {% include "thread/message.html" with recently_sent=True person_links=True %}

        <div class="post-message-actions">
            <a href="#" class="post-message-actions__back">{% trans "Back to all messages" %}</a>
        </div>
    </div>

{% endblock content_inner %}
