{% extends "base_public.html" %}
{% load i18n %}

{% block content_inner %}

<h1>THREAD READ PAGE</h1>

<p style="color: pink">[flash message] Your message has been sent!! We'll email you when there's a reply, or you can bookmark this page and come back to check for responses.[/flash message]</p>

<p>Foo bar baz</p>

<a href="{% url 'write_sign' slug='foo' %}">Back</a>
<a href="{% url 'write_who' slug='foo' %}">Start again (back to the write/who page)</a>

<ul>
  <li><a href="{% url 'thread_from' slug='foo' pk=42 %}">All messages from this user</a></li>
  <li><a href="{% url 'thread_to' slug='foo' pk=1024 %}">All messages to this politician</a></li>
<ul>

{% endblock content_inner %}
