{% extends "base_instance.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}page-contains-messages{% endblock %}

{% block content_inner %}

    <div class="results person">
        <div class="results__actions">
            <h3 class="results__actions__heading">{% trans "Messages to" %}</h3>

            <div class="person-profile">
              {% if person.image %}
                <img class="person-profile__photo" src="{{ person.image }}">
              {% endif %}
                <h2 class="person-profile__name">{{ person.name }}</h2>
            </div>

          {% if person.summary %}
            <p class="results__actions__info">{{ person.summary }}</p>
          {% endif %}

          {% if writeitinstance.can_create_messages %}
            <form action="{% url 'write_message_step' step='who' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="write_message_view-current_step" value="who">
                <input type="hidden" name="who_{{ writeitinstance.slug }}-persons" value="{{ person.pk }}">
                <button type="submit" class="btn btn-primary write-to-this-person">{% trans "Write to this person" %}</button>
            </form>
          {% endif %}
        </div>
        <div class="results__messages">
          {% for message in message_list %}
            {% include "thread/message_mini.html" with message=message %}
          {% endfor %}
        </div>
    </div>

{% endblock content_inner %}
