{% extends "base_instance.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content_inner %}

    <div class="person-profile">
        <img class="person-profile__photo" src="{% if person.image %}{{ person.image }}{% else %}{% static 'img/default-avatar.png' %}{% endif %}">
        <h2 class="person-profile__name">{{ person.name }}</h2>
        <p class="person-profile__context">{{ person.summary }}</p>
    </div>

    <div class="person-messages">
        {% for message in message_list %}
            {% include "thread/message.html" with person_links=True message=message %}
        {% endfor %}
    </div>

{% endblock content_inner %}
