{% if page.alert or page.notice %}
	{% assign page_alerts_and_notices_html = null %}
	{% capture page_alerts_and_notices_html %}
		{% if page.alert and page.notice %}
			<div class="row">
				<div class="span4">
					<div class="alert alert-block">
						{{ page.alert }}
					</div>
				</div>
				<div class="span4">
					<div class="alert alert-block alert-success">
						{{ page.notice }}
					</div>
				</div>
			</div>
		{% elsif page.alert %}
			<div class="row">
				<div class="span8">
					<div class="alert alert-block">
						{{ page.alert }}
					</div>
				</div>
			</div>
		{% elsif page.notice %}
			<div class="row">
				<div class="span8">
					<div class="alert alert-block alert-success">
						{{ page.notice }}
					</div>
				</div>
			</div>
		{% endif %}
	{% endcapture %}
	{{ page_alerts_and_notices_html | strip_newlines | remove:'	' }}
{% endif %}