// Override bootstrap variables
$body-bg: #f3f1eb;
$brand-primary: #4faded;
$font-family-sans-serif: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$btn-default-border: transparent;
$font-size-base: 16px;
$line-height-base: 1.5;
