// Override bootstrap variables
$body-bg: #f3f1eb;
$brand-primary: #4faded;
$font-family-sans-serif: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$chosen-sprite-path: '/static/img/chosen-sprite.png';
$chosen-sprite-retina-path: '/static/img/chosen-sprite@2x.png';
