.message-form {
  padding: 15px;
}

.answer-in-list {
  margin: 20px;
}

.template-update {
  background-color: #2E353F;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#2E353F 0,#222 100%);
  background-image: linear-gradient(to bottom,#2E353F 0,#222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c',endColorstr='#ff222222',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #2E353F;
}

 /* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 0;
}

.jumbotron {
  background-color: transparent;
}

#footer {
  background-color: #2E353F;
}

.logo-image {
  width: auto;
  height: 30px;
  margin-top: 7px;
}

.navbar-brand {
  padding-top: 3px;
  padding-bottom: 0px;
}

.poplus-logo img {
  vertical-align: -2px;
  margin-right: 4px;
}

.navbar .nav a .glyphicon,
.navbar .nav a .fa {
  margin-right: 4px;
}

.contactBtn {
  background: none repeat scroll 0 0 #57D6AC;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 21.2px;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
  padding: 15px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin-top: 80px;
}
