{% extends "base_instance.html" %}
{% load i18n %}

{% block content_inner %}

<h2>Mi ez az Infoszab oldal?</h2>

<p>Ez az oldal azért jött létre, hogy felhívja az igazságügyi miniszter figyelmét az információszabadságot szabályozó törvény változásainak veszélyeire.</p>

<p>Szerintünk az ilyen fontos döntéseknek társadalmi párbeszéd után kell megszületniük.Azért hoztuk létre az Infoszab oldalt, hogy egy kattintással megírhatja a véleményét az igazságügyi miniszternek.</p>

<p>Olvass a törvénymódosítás hátteréről:</p>

<p><a href="http://atlatszo.hu/2015/06/28/adatigenyles-ellenes-torvenymodositasok-ujabb-pofon-az-informacioszabadsagnak/">Adatigénylés-ellenes törvénymódosítások: újabb pofon az információszabadságnak.</a><a href="http://k.blog.hu/2015/06/29/kivancsi_vagy_hogy_mire_koltik_az_adodat_sajnaljuk"> Kíváncsi vagy, hogy mire költik az adódat? Sajnáljuk...</a></p>

<p>Ezért hoztuk létre ezt az oldalt {{ writeitinstance.name }}. Egy kattintással megírhatja a véleményét az igazságügyminiszternek.</p>


<h3>Hogyan működik?</h3>

<p>Írja be üzenetét a szöveg mezőbe, és kattintson az “Üzenek” gombra.</p>

<p>Ha jóváhagyta e-mail címét, az üzenetet továbbítjuk a miniszter címére, és megjelentetjük az oldalon is.</p>

<p>Ha válasz érkezik, az is nyilvánosan elérhető lesz.</p>

<h3>Mit jelent a nyilvános?</h3>

<p><b>Az üzenetét és a nevét megjelentetjük ezen a nyilvánosan elérhető oldalon.</b> Ez azt is jelenti, hogy a jövőben a keresőmotorok megtalálhatják a nevét és az üzenetét, valamint azok is látni fogják ezeket, akik az oldalt böngészik.</p>

<p><b>Az üzeneteket nem kötelező valódi névvel elküldeni</b>, ugyanakkor a válaszadónak kötelező a valódi nevét megadnia. Az egymás iránti tisztelet nevében arra kérjük, ha teheti, valódi névvel írja alá üzenetét. Ha nem szívesen teszi közzé így az üzenetet, akkor azt javasoljuk, hogy inkább ne küldje el.</p>

<p><b>Az e-mail címét nem tesszük közzé, </b> csak ahhoz kérjük, hogy:</p>

<ul>
  <li>ellenőrizzük, valóban valódi személytől érkezik az üzenet, és nem spam vagy robot küldőtől</li>
  <li>értesíthessük, ha választ kap a címzettől</li>
  <li>üzenetet küldhessünk arról, ha hiba történne az üzenetküldés során</li>
  <li>(ritkán) értesíthessük az oldalon történő változásokról</li>
</ul>


<h3>Hogy készült ez az oldal?</h3>

Az oldal a WriteInPublic szoftvert használja, amelyet a  
<a href="http://ciudadanointeligente.org/">Fundación Ciudadano Inteligente</a> fejlesztett a
<a href="https://www.mysociety.org/ ">mySociety</a> WriteIt nevű
<a href="http://poplus.org/">Poplus</a> komponenséből.

Ön is létrehozhat ilyen oldalt, erről bővebb információt a 
<a href="http://WriteInPublic.com">WriteInPublic.com</a> oldalon talál.

<p></p>


{% endblock content_inner %}
~


