{% extends "base.html" %}

{% load staticfiles %}
{% load pipeline %}
{% load i18n %}
{% load subdomainurls %}
{% load nuntium_tags %}

{% block css %}
    {% stylesheet 'writeit-instance' %}
    {% custom_stylesheet %}
{% endblock css %}

{% block header %}
    <header class="site-header">
        <div class="container">
            <div class="site-header__masthead">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                  {% if writeitinstance %}
                    <a href="{% url 'instance_detail' subdomain=writeitinstance.slug %}">{{ writeitinstance.name }}</a>
                  {% else %}
                    <a href="{% url 'home' subdomain=None %}">WriteIt</a>
                    <small>{% trans "A Poplus Component" %}</small>
                  {% endif %}
                </h1>
            </div>
            <div class="site-header__nav" id="navbar" role="navigation">
                <ul>
                    <li class="site-header__nav__link"><a href="{% url 'instance_detail' subdomain=writeitinstance.slug %}">{% trans "Home" %}</a></li>
                    <li class="site-header__nav__link"><a href="{% url 'about' subdomain=writeitinstance.slug %}">{% trans "About" %}</a></li>
                  {% if writeitinstance.can_create_messages %}
                    <li class="site-header__nav__link"><a href="{% url 'write_message' subdomain=writeitinstance.slug %}">{% trans "Send a message" %}</a></li>
                  {% endif %}
                    <li class="site-header__nav__link"><a href="{% url 'message_threads' subdomain=writeitinstance.slug %}">{% trans "Browse messages" %}</a></li>

                  {% comment "Might want to bring these back at some point" %}
                    <li class="site-header__nav__link"><a href="#">Search</a></li>
                    <li class="site-header__nav__link site-header__nav__link--sign-in"><a href="{% url 'login' subdomain=None %}">{% trans "Sign in" %}</a></li>
                  {% endcomment %}

                  {% if user.is_authenticated %}
                    <li class="site-header__nav__link site-header__nav__link--user dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="glyphicon glyphicon-user"></i><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <span class="dropdown-menu-item">
                                    <strong>{{ user }}</strong><br>
                                    {{ user.email }}
                                </span>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'account' subdomain=None %}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {% trans "Your Profile" %}
                                </a>
                            </li>
                            <li>
                            {% if user.id == writeitinstance.owner.id %}
                              {% if writeitinstance.config.testing_mode %}
                                <a href="{% url 'welcome' subdomain=writeitinstance.slug %}">
                              {% else %}
                                <a href="{% url 'writeitinstance_basic_update' subdomain=writeitinstance.slug %}">
                              {% endif %}
                                    <span class="glyphicon glyphicon-cog"></span>
                            {% else %}
                                <a href="{% url 'your-instances' subdomain=None %}">
                                    <span class="glyphicon glyphicon-tasks"></span>
                            {% endif %}
                                    {% trans "Site Manager" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'django.contrib.auth.views.logout' %}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    {% trans "Sign out" %}
                                </a>
                            </li>
                        </ul>
                    </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </header>

  {% if writeitinstance and not writeitinstance.config.allow_messages_using_form %}
    <div class="site-alert">
        <div class="container">
            <h3 class="site-alert__heading">{% trans "This site is read-only." %}</h3>
            <p class="site-alert__description">{% trans "You can’t currently create new messages using this site." %}</p>
          {% if user.is_authenticated %}
            <a class="site-alert__cta" href="{% url 'writeitinstance_webbased_update' subdomain=writeitinstance.slug %}">{% trans "Change this in Settings" %}</a>
          {% endif %}
        </div>
    </div>
  {% elif writeitinstance and not writeitinstance.persons_with_contacts %}
    <div class="site-alert">
        <div class="container">
            <h3 class="site-alert__heading">{% trans "This site has no recipients." %}</h3>
            <p class="site-alert__description">{% trans "There is no-one to write to yet. Please check back soon." %}</p>
          {% if user.is_authenticated %}
            <a class="site-alert__cta" href="{% url 'relate-writeit-popit' subdomain=writeitinstance.slug %}">{% trans "Import people from PopIt" %}</a>
          {% endif %}
        </div>
    </div>
  {% elif writeitinstance and writeitinstance.config.testing_mode %}
    <div class="site-alert">
        <div class="container">
            <h3 class="site-alert__heading">{% trans "This site is in Test Mode." %}</h3>
            <p class="site-alert__description">{% trans "Any messages you write will be sent to the site administrator rather than real representatives." %}</p>
        </div>
    </div>
  {% endif %}

{% endblock header %}

{% block content %}
    <div class="site-content">
        <div class="container">
            {% block content_inner %}
            {% endblock content_inner %}
        </div>
    </div>
{% endblock content %}

{% block footer %}{% include 'footer.html' %}{% endblock footer %}
