{% load staticfiles %}{% load i18n %}{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans "You writeit and we deliver it!" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>

    

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <!--Sidebar content-->
      </div>
      <div class="span9">
      	{% block content %}
      	{% endblock content%}
      </div>
      

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
  <footer>
    <p>{% blocktrans %}Built by <a href="http://www.ciudadanointeligente.org">Fundación Ciudadano Inteligente</a>{% endblocktrans %}</p>
    <p>
      <a href="http://www.github.com/ciudadanointeligente/write-it">
      {% blocktrans %}Find the code at Github{% endblocktrans %}
      </a>
    </p>
    
  </footer>
</html>
