{% extends "base_manager.html" %}
{% load i18n %}
{% block sidebar %}
{% endblock sidebar %}
{% block bodyclass %}page-without-sidebar{% endblock bodyclass %}
{% load subdomainurls %}

{% block content %}

    <div class="factory-hero">

        <h1 class="factory-hero__heading">{% trans "Make sites that empower citizens to send emails to representatives and politicians." %}</h1>
        <h2 class="factory-hero__heading">{% trans "No coding required." %}</h1>

        <p><a href="{% url 'create_writeit_instance' %}" class="btn btn-primary btn-lg">{% trans "Create your own site" %}</a></p>

        {% comment "We shouldn't link to the instance list until there are some worth linking to! #395" %}
        <p><a href="{% url 'instance_list' %}">{% trans "Or see ones other people have created." %}</a></p>
        {% endcomment %}

    </div>

{% endblock content %}
