{% extends "base_writeinpublic.html" %}
{% load i18n %}
{% block sidebar %}
{% endblock sidebar %}
{% block bodyclass %}page-without-sidebar{% endblock bodyclass %}
{% block content %}

    <div class="factory-hero">
        <div class="container">
            <h1 class="factory-hero__heading">{% trans "For public conversations with your politicians" %}</h1>

            <p><a href="#" class="btn btn-primary btn-lg create-own-button">{% trans "Create your own" %}</a> <a href="{% url 'instance_list' %}">{% trans "Or browse existing ones" %}</a></p>
        </div>
    </div>

{% endblock content %}
