{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load markdown_deux_tags %}
<div class="panel panel-default container-fluid">
  <div class="panel-heading row">
    <h1 class="panel-title">{{ message.subject }}</h1>
  </div>
  <div class="panel-body row">
    <p class="lead">{{ message.content|linebreaks }}</p>
    <div class="sent_to">
        {% trans 'This message was sent to' %}
        <br />
            {% for person in message.people %}
              <a class="label label-default" title="{% blocktrans with person_name=person.name %}See all messages sent to {{ person_name }}{% endblocktrans %}" href='{% url 'messages_per_person' slug=message.writeitinstance.slug pk=person.id %}'>{{ person.name }}</a>
            {% endfor %}
    </div>
  </div>
  <div class="panel-footer row">
    <span class="author_name col-md-4"><small>{% blocktrans with message.author_name as name %}Asked by {{ name }}.{% endblocktrans %}</small></span>
    <div class='col-md-4 col-md-offset-4'>
      {% if message.created %}
      {{ message.created }}
      {% endif %}</div>

  </div>
  <!--span><a href="{% url 'create-report' pk=message.pk %}">Do you want to report this message?</a></span-->
</div>






<br />

{% if message.answers.all %}
<h3>{% trans "Answers" %}</h3>
{% endif %}
{% for answer in message.answers.all %}
    {% include "nuntium/answer/answer_in_list.html" with answer=answer %}
{% endfor %}


<div class="getbacktotheinstance"> <a href="{% url 'instance_detail' slug=message.writeitinstance.slug %}"><i class="icon-chevron-left"></i> {% blocktrans %} Get back to the messages.{% endblocktrans %} </a></div>
{% endblock %}
