{% load staticfiles %}
{% load i18n %}
{% load subdomainurls %}
{% load markdown_deux_tags %}
{% load nuntium_tags %}

{% get_current_language as LANGUAGE_CODE %}

<dl class="dl-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ message.subject }} <a href="{{ message.get_absolute_url }}"><span class="glyphicon glyphicon-link"></span></a></h4>

            {% with answer_count=message.answers.all.count %}
            {% if not answer_count %}
            {% trans "There are no answers yet" %}
            {% else %}
            {% blocktrans count answer_count=answer_count %}
            There is {{ answer_count }} answer
            {% plural %}
            There are {{ answer_count }} answers
            {% endblocktrans %}
            {% endif %}
            {% endwith %}

        </div>
        <div class="panel-body">
            <p>{% markdown %}{{ message.content }}{% endmarkdown %}</p>
            <i class="glyphicon glyphicon-user"></i>
            {% for person in message.people %}
            <a class="label label-default" title="{% blocktrans with person_name=person.name %}See all messages sent to {{ person_name }}{% endblocktrans %}" href="{% url 'thread_to' subdomain=message.writeitinstance.slug pk=person.pk %}">{{ person.name }}</a>
            {% endfor %}

	<br />
	<span class="author_name col-md-4"><small>
            {% url 'all-messages-from-the-same-author-as' subdomain=message.writeitinstance.slug message_slug=message.slug %}
            {% blocktrans with message.author_name as name %}Asked by 
            <a href="{{other_messages_by}}">{{ name }}</a>.{% endblocktrans %}</small></span>
            <div class='col-md-4 col-md-offset-4'>
              {% if message.created %}
                {{ message.created|localize_datetime:LANGUAGE_CODE }}
              {% endif %}
            </div>
        </div>
    </div>
</dl>
