{% load staticfiles %}
{% load i18n %}
{% load markdown_deux_tags %}
<dl class="dl-horizontal">
<div class="panel panel-default">
	<div class="panel-heading">
	<h4>{{ message.subject }} <a href="{{ message.get_absolute_url }}"><span class="glyphicon glyphicon-link"></span></a></h4>
	</div>
	<div class="panel-body">
	<p>{% markdown %}{{ message.content }}{% endmarkdown %}</p>
	<i class="glyphicon glyphicon-user"></i>
	{% for person in message.people %}
		<span class="label label-default">{{ person.name }}</span>
	{% endfor %}
	<br />
	<span class="author_name"><small>{% blocktrans with message.author_name as name %}Asked by {{ name }}.{% endblocktrans %}</small></span>
	</div>

</div>
</dl>