{% load staticfiles %}
{% load i18n %}
{% load markdown_deux_tags %}

<dl class="dl-horizontal">
<div class="panel panel-default">
	<div class="panel-heading">
	<h4>{{ message.subject }} <a href="{{ message.get_absolute_url }}"><span class="glyphicon glyphicon-link"></span></a></h4>

        {% with answer_count=message.answers.all.count %}
          {% if not answer_count %}
            {% trans "There are no answers yet" %}
          {% else %}
            {% blocktrans count answer_count=answer_count %}
              There is {{ answer_count }} answer
            {% plural %}
              There are {{ answer_count }} answers
            {% endblocktrans %}
          {% endif %}
        {% endwith %}

	</div>
	<div class="panel-body">
	<p>{% markdown %}{{ message.content }}{% endmarkdown %}</p>
	<i class="glyphicon glyphicon-user"></i>
	{% for person in message.people %}
		<span class="label label-default person_name" data-container="body" data-toggle="popover" data-content="<a href='{% url 'messages_per_person' slug=message.writeitinstance.slug pk=person.id %}'>{% blocktrans with person_name=person.name %}See all messages sent to {{ person_name }}{% endblocktrans %}</a>">{{ person.name }}</span>
	{% endfor %}

	<br />
	<span class="author_name"><small>{% blocktrans with message.author_name as name %}Asked by {{ name }}.{% endblocktrans %}</small></span>
	</div>

	<script type="text/javascript">
	$('.person_name').popover({
		'trigger':'hover',
		'html':true,
		'placement':'top',
		'delay': { show: 0, hide: 1000 }
	})
	</script>

</div>
</dl>
