{% extends "base_instance.html" %}
{% load nuntium_tags %}
{% load i18n %}
{% load staticfiles %}

{% get_current_language as LANGUAGE_CODE %}

{% block content_inner %}

    <div class="full-width-wrapper recent-letters-wrapper">
    {% if recent_messages %}
    <main class="centred recent-letters">
        <h1>{% trans "Recent messages" %}</h1>
        <ul>
          {% for message in recent_messages %}
          <li class="letter-list-item container">
          <a href="{% url 'thread_read' slug=message.slug %}">
            <h2>{{ message.author_name }} <img src="{% static 'iran/images/iran/arrow-grey-left.svg' %}" onerror="this.src='{% static 'iran/images/iran/arrow-grey-left.png' %}'; this.onerror=null;" alt="to"> {{ message.people|join_with_commas:LANGUAGE_CODE }}</h2>
          </a>
          <div class="content container">
            {% comment %}
              Making a list by separating with commas and
              putting an 'and' before the last element does not
              localize easily.  For Farsi the ordering of 'Dear'
              and the recipient names is opposite from English
              (before considering RTL), so make the whole phrase
              translatable and just insert comma-separated
              names.
            {% endcomment %}
            {% if LANGUAGE_CODE == 'fa' %}
              {% blocktrans trimmed with recipient_names=message.people|join_with_commas:LANGUAGE_CODE %}
                Dear {{ recipient_names }},
              {% endblocktrans %}
            {% else %}
              {% trans 'Dear' %} {% for person in message.people %}{{ person.name }}{% if not forloop.first and forloop.last %} {% trans "and" %} {% elif not forloop.first %}, {% endif %}{% endfor %}
            {% endif %}
            <br /><br />
            {{ message.content }}
            <br /><br />
            {% blocktrans trimmed with author_name=message.author_name %}
               Yours sincerely, <br> {{ author_name }}
            {% endblocktrans %}
            <br />
          </div>
          {% endfor %}
          </li>
        </ul>
    </main>
    {% endif %}
  </div>
{% endblock content_inner %}
