{% extends "base_instance.html" %}
{% load nuntium_tags %}
{% load i18n %}
{% load staticfiles %}

{% block content_inner %}

    <div class="full-width-wrapper recent-letters-wrapper">
    {% if recent_messages %}
    <main class="centred recent-letters">
        <h1>{% trans "Recent messages" %}</h1>
        <ul>
          {% for message in recent_messages %}
          <li class="letter-list-item container">
          <a href="{% url 'thread_read' slug=message.slug %}">
            <h2>{{ message.author_name }} <img src="{% static 'iran/images/iran/arrow-grey-left.svg' %}" onerror="this.src='{% static 'iran/images/iran/arrow-grey-left.png' %}'; this.onerror=null;" alt="to"> {% for person in message.people %}{{ person.name }}{% endfor %}</h2>
          </a>
          <div class="content container">
            {% trans 'Dear' %} {% for person in message.people %}{{ person.name }}{% if not forloop.first and forloop.last %} {% trans "and" %} {% elif not forloop.first %}, {% endif %}{% endfor %}<br /><br />
            {{ message.content }}
            <br /><br />
            {% trans 'Yours sincerely' %},
            <br />
            {{ message.author_name }}
          </div>
          {% endfor %}
          </li>
        </ul>
    </main>
    {% endif %}
  </div>
{% endblock content_inner %}
