Hi {{ message.writeitinstance.owner.username }}:<br/>
<br/>
Please moderate this message:<br/>
<br/>
====================================<br/>
From: {{ message.author_name }}<br />
From Email: {{ message.author_email }}<br />
Subject: {{ message.subject }}<br />
The message:<br/>
<br/>
{{ message.content|linebreaks }}<br/>
<br/>
=============================<br/>
<br/>
If you want to accept this message please click on the next link:<br />
{{ url_accept }}<br />
<br />
In order to reject this message please click on the next link:<br />
<a href="{{ url_rejected }}">{{ url_rejected }}</a><br />
Note that this message will be deleted.<br />









Thanks<br/>


--<br/>
The WriteIt-team<br/>