{% if site.sections.archive.enabled and site.posts.size > 0 %}
	{% assign navlist_archive_html = null %}
	{% capture navlist_archive_html %}
		<div class="well ghpb-well-navlist">
			<ul class="nav nav-list ghpb-nav-list">
				<li class="nav-header ghpb-nav-header">
					{% if site.font_awesome.enabled %}
						<i class="icon-calendar"></i> 
					{% endif %}
					Archive
				</li>

				{% assign navlist_archive_first_year = true %}
				{% assign navlist_archive_prev_year = '' %}
				{% for navlist_archive_p in site.posts %}
					{% assign navlist_archive_year = null %}
					{% capture navlist_archive_year %}
						{{ navlist_archive_p.date | date: "%Y" }}
					{% endcapture %}

					{% if navlist_archive_year != navlist_archive_prev_year %}
						{% if navlist_archive_first_year == true %}
							{% assign navlist_archive_first_year = false %}
						{% else %}
						</ul>
					</div>
						{% endif %}
						{% assign navlist_archive_prev_year = navlist_archive_year %}
						<li data-toggle="collapse" data-target="#{{ navlist_archive_year }}">
							<a href="javascript:void(0);">
								{% if site.font_awesome.enabled %}
									<i class="icon-calendar"></i> 
								{% endif %}
								{{ navlist_archive_year }}
							</a>
						</li>
						<div id="{{ navlist_archive_year }}" class="collapse">
							<ul class="nav nav-list ghpb-nav-list">
					{% endif %}

								<li>
									<a href="{{ site.url }}{{ navlist_archive_p.url }}">
										{% if site.font_awesome.enabled %}
											<i class="icon-pencil"></i> 
										{% endif %}
										{{ navlist_archive_p.title }}
									</a>
								</li>
				{% endfor %}
							</ul>
						</div>
			</ul>
		</div>
	{% endcapture %}
	{{ navlist_archive_html | strip_newlines | remove:'	' }}
{% endif %}