{% if site.sections.external_links.enabled and site.external_links.links.size > 0 %}
	{% assign section_external_links_html = null %}
	{% capture section_external_links_html %}
		<div class="well ghpb-well-navlist">
			<ul class="nav nav-list ghpb-nav-list">
				<li class="nav-header ghpb-nav-header">
					{% if site.font_awesome.enabled %}
						<i class="icon-external-link"></i> 
					{% endif %}
					{{ site.external_links.header }}
				</li>
				{% for section_external_link in site.external_links.links %}
					<li>
						<a href="{{ section_external_link.url }}" target="_blank">
							{% if site.font_awesome.enabled %}
								<i class="icon-external-link"></i> 
							{% endif %}
							{{ section_external_link.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endcapture %}
	{{ section_external_links_html | strip_newlines | remove:'	' }}
{% endif %}