{% if site.navbar.categories.enabled and site.categories.size > 0 %}
	{% assign navbar_dropdown_categories_html = null %}
	{% capture navbar_dropdown_categories_html %}
		{% assign navbar_category_names = null %}
		{% capture navbar_category_names %}
			{% for navbar_c in site.categories %}
				{{ navbar_c[0] | replace: ' ', '___' }}
			{% endfor %}
		{% endcapture %}

		{% assign navbar_sorted_category_names = null %}
		{% capture navbar_sorted_category_names %}
			{{ navbar_category_names | split:' ' | sort | join:' ' }}
		{% endcapture %}

		{% assign navbar_number_of_categories = null %}
		{% capture navbar_number_of_categories %}
			{{ navbar_sorted_category_names | number_of_words }}
		{% endcapture %}

		<ul class="nav pull-left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{% if site.font_awesome.enabled %}
						<i class="icon-folder-close"></i> 
					{% endif %}
					Categories 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					{% assign navbar_prev_category = '' %}
					{% for navbar_category_i in (1..navbar_number_of_categories) %}

						{% assign navbar_category = null %}
						{% capture navbar_category %}{{ navbar_sorted_category_names | truncatewords:navbar_category_i | remove:'...' | split:' ' | last | downcase | capitalize }}{% endcapture %}

						{% if navbar_prev_category != navbar_category %}
							{% assign navbar_prev_category = navbar_category %}
							<li class="dropdown-submenu">
								<a tabindex="-1" href="#">
									{% if site.font_awesome.enabled %}
										<i class="icon-folder-open"></i> 
									{% endif %}
									{{ navbar_category | replace: '___', ' ' }} 
								</a>
								<ul class="dropdown-menu">
									{% for navbar_category_p in site.posts %}

										{% assign navbar_category_p_category = null %}
										{% capture navbar_category_p_category %}{{ navbar_category_p.category | replace: ' ', '___' | downcase | capitalize }}{% endcapture %}

										{% if navbar_category_p_category == navbar_category %}
											<li>
												<a href="{{ site.url }}{{ navbar_category_p.url }}">
													{% if site.font_awesome.enabled %}
														<i class="icon-pencil"></i> 
													{% endif %}
													{{ navbar_category_p.title }}
												</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
		</ul>
	{% endcapture %}
	{{ navbar_dropdown_categories_html | strip_newlines | remove:'	' }}
{% endif %}