{% if site.navbar.external_links.enabled and site.external_links.links.size > 0 %}
	{% assign navbar_dropdown_external_links_html = null %}
	{% capture navbar_dropdown_external_links_html %}
		<ul class="nav pull-left">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					{% if site.font_awesome.enabled %}
						<i class="icon-external-link"></i> 
					{% endif %}
					{{ site.external_links.header }} 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					{% for navbar_external_link in site.external_links.links %}
						<li>
							<a href="{{ navbar_external_link.url }}" target="_blank">
								{% if site.font_awesome.enabled %}
									<i class="icon-external-link"></i> 
								{% endif %}
								{{ navbar_external_link.name }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
		</ul>
	{% endcapture %}
	{{ navbar_dropdown_external_links_html | strip_newlines | remove:'	' }}
{% endif %}