.person-profile {
  padding: 1.5em 0;
  border-bottom: 1px solid $gray-lighter;
  overflow: auto;
}

.person-profile__photo {
  float: left;
  height: 4em;
  width: auto;
  margin-right: 1em;
}

.person-profile__name {
  margin: 0;
}

.person-profile__context {
  margin: 0.4em 0 0 0;
}

.person-messages {
  margin: 1.5em 0 2em;
}
