.person-profile {
  @include clearfix();
  margin-top: 1em;
}

.person-profile__photo {
  float: left;
  width: 48px;
  height: auto;

  + .person-profile__name {
    padding-left: 64px;
  }
}

.person-profile__name {
  margin: 0;
}

.results.person {
  .results__messages {
    @extend .col-sm-7;
  }

  .results__actions {
    @extend .col-sm-4;

    .btn-primary {
      margin-top: 1em;
    }
  }
}
