.writing-breadcrumb {
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin-top: 2em;

  @media (min-height: 700px) {
    margin-top: 3em;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.writing-breadcrumb__step {
  display: inline-block;

  &:before {
    content: "\00BB";
    display: inline-block;
    margin: 0 1.1em 0 1em; // more margin on right to compensate for whitespace on left
  }

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.writing-breadcrumb__step--current {
  font-weight: bold;

  &:before {
    font-weight: normal;
  }
}

.writing-step {
  max-width: 720px;
  margin: 1em auto;

  @media (min-width: $screen-sm) {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  @media (min-height: 700px) {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  @media (min-height: 800px) {
    margin-bottom: 5em;
  }

  @media (min-height: 900px) {
    margin-bottom: 6em;
  }

  label {
    font-weight: normal; // Stupid Bootstap and its bold labels
    margin-bottom: 0.5em;
  }

  select {
    width: 100%;
    height: 6em;
  }

  h2 {
    font-size: 1.2em;
  }

  @media (min-width: $screen-sm){
    .form-group {
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// A special version of the standard writing-step,
// which is much simpler and more spaced out.
.writing-step--confirm-email {
  text-align: center;

  img {
    width: 128px;
  }

  h2 {
    margin-bottom: 0.8em;
    font-size: 1.5em; // bit bigger than normal
  }

  p {
    margin-bottom: 1.5em;
  }
}

.writing-step__congratulations {
  margin-bottom: 1em;
  text-align: center;

  @media (min-width: $screen-sm) {
    margin-bottom: 2em;
  }

  @media (min-height: 700px) {
    margin-bottom: 3em;
  }
}

.label-with-hint {
  display: block; // override default Bootstrap inline-block

  small {
    color: $color-bluegrey-300;
    font-size: 0.8em;
    margin-top: 0.2em;
  }
}

.uncontactable-alert {
  margin-bottom: 0;
  margin-top: 1em;

  p:last-child {
    margin-top: 0.75em;
  }

  .or {
    margin: 0 0.5em;
  }
}

.writing-draft-recipients {
  background-color: #f3f3f3;
  color: #999;
  height: auto; // override default .form-control height, so names can wrap onto multiple lines
}

.writing-buttons {
  @include clearfix();
  margin: 1em 0 2em 0;

  @media (min-width: $screen-sm) {
    margin-top: 2em;
  }
}

.writing-buttons__button--next {
  @extend .btn;
  @extend .btn-primary;

  float: right;

  &:after {
    @extend .fa;
    content: $fa-var-chevron-right;
    margin-left: 0.5em;
    vertical-align: -1px;
  }
}

.writing-buttons__button--previous {
  @extend .btn;

  float: left;

  &:before {
    @extend .fa;
    content: $fa-var-chevron-left;
    margin-right: 0.5em;
    vertical-align: -1px;
  }
}

.privacy-reminder {
  border-top: 1px solid $color-bluegrey-100;
  border-bottom: 1px solid $color-bluegrey-100;
  padding: 1em;
  margin-top: 1em;

  @media (min-width: $screen-sm) {
    padding: 1.5em;
    margin-top: 2em;
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  h2 {
    .fa {
      margin-right: 0.5em;
    }
  }
}
