.site-alert {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.site-alert__heading {
  font-size: 1.2em;
  margin-top: 0;

}


@media (min-width: $screen-md) {
  .site-alert__description {
    float: left;
    width: 60%;
    margin-bottom: 0;
  }

  .site-alert__cta {
    float: right;
  }
}
