.message {
  background-color: #f3f3f3;
  padding: 1em;

  @media (min-width: $screen-sm) {
    padding: 2em;
  }

  & + & {
    margin-top: 1em;

    @media (min-width: $screen-sm) {
      margin-top: 2em;
    }
  }
}

.message__meta {
  margin-bottom: 0;

  dt {
    float: left;
    width: 4em;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  dd {
    margin-left: 5em;
    margin-bottom: 0.5em;
  }

  .text-muted {
    color: #aaa;
    margin-left: 5px;
  }

  a {
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.message__content {
  border-top: 1px solid #ddd;
  margin-top: 1em;
  padding-top: 1em;

  @media (min-width: $screen-sm) {
    margin-top: 1.5em;
    padding-top: 1.5em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.message--reply {
  position: relative;
  margin-left: 2em;

  &:before {
    @extend .fa;
    content: $fa-var-share;
    position: absolute;
    top: 1.2em;
    left: -1.7em;
    opacity: 0.4;
  }

  @media (min-width: $screen-sm) {
    margin-left: 5em;

    &:before {
      font-size: 2em;
      top: 1em;
      left: -1.8em;
    }

    // On desktop mode, only show the first reply arrow,
    // the margin-left will make it clear they're all replies.
    & + &:before {
      display: none;
    }
  }
}

.post-message-actions {
  text-align: center;
  margin: 1em 0 2em 0;

  @media (min-width: $screen-sm) {
    margin-top: 2em;
  }
}

.post-message-actions__back {
  @extend .btn;
  @extend .btn-link;

  &:before {
    @extend .fa;
    content: $fa-var-angle-double-left;
    margin-right: 0.5em;
  }
}
