// Give the illusion of infinitely long footer,
// by matching footer background to body background.
body, .site-footer {
  background-color: $color-bluegrey-700;
}

.site-footer {
  color: $color-bluegrey-300;

  a {
    color: $color-bluegrey-50;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

// Then give the main page wrapper the background colour
// Bootstrap originally wanted the body to have.
.site-content {
  background-color: $body-bg;
}

// Pages with messages on them have a darker background,
// so that the white messages stand out.
.page-contains-messages {
  .site-content {
    background-color: $color-bluegrey-50;
  }
  .site-header {
    background-color: #fff;
  }
  .writing-buttons__button--previous {
    background-color: mix(#fff, $color-bluegrey-50, 50%);
    border-color: $color-bluegrey-100;
  }
}

.site-alert {
  background-color: $color-orange-100;
  border-bottom-color: mix(#000, $color-orange-100, 6%);

  // 1px border to overlap navbar or previous site-alert
  position: relative;
  margin-top: -1px;
  border-top: 1px solid mix(#000, $color-orange-100, 6%);
}

.instance-summary {
  background-color: $color-bluegrey-50;
}

.writing-breadcrumb__step {
  color: mix($body-bg, $text-color, 60%);
}

.writing-breadcrumb__step--current {
  color: $text-color;

  &:before {
    color: mix($body-bg, $text-color, 60%);
  }
}

.writing-buttons__button--previous {
  @include button-variant(#666, #eee, #e6e6e6);
}

.chosen-container {
  .chosen-results {
    li em {
      font-weight: bold;
      background: none;
    }

    .uncontactable {
      color: $color-red-900;
      background-color: $color-red-50;

      &:after {
        content: "(no contact details)"; // This will be overridden by the HTML template
        display: inline;
        opacity: 0.7;
        margin: 0 0.5em;
      }
    }
  }

  .chosen-choices {
    .uncontactable {
      color: $color-red-900;
      background: $color-red-50;
      border-color: mix($color-red-200, #ccc, 50%);
    }
  }
}

.thead__actions__heading,
.results__actions__heading {
  color: $color-bluegrey-300;
}

.thread__actions li,
.results__actions li {
  border-top-color: $color-bluegrey-100;
}
