{% extends "base_instance.html" %}
{% load i18n %}

{% block content %}

    <ol class="writing-progress">
        <li>{% trans "Select recipients" %}</li>
        <li>{% trans "Draft message" %}</li>
        <li>{% trans "Preview message" %}</li>
        <li class="writing-progress__current-step">{% trans "Message sent" %}</li>
    </ol>

    <h1>{% trans "Your message has been sent!" %}</h1>

    <div class="message message--sent">
        <p><strong>TODO:</strong> Display sent message here.</p>
    </div>

    <a href="{% url 'instance_detail' slug=confirmation.message.writeitinstance.slug %}">
        {% trans "Go back to all messages" %}
    </a>

{% endblock content %}
