{% extends "base_instance.html" %}
{% load i18n %}
{% load subdomainurls %}

{% block content %}

    <p><strong>TODO:</strong> <code>ConfirmView()</code> should show <code>/threads/read.html</code> rather than this template, <code>/nuntium/confirm.html</code>. And the URL in the browser’s URL bar should be the final URL of the new message thread, including the thread slug.</p>

    <p>If you weren’t expecting to see this, <a href="{% url 'message_threads' %}">click here to go back to all messages</a>.</p>

{% endblock content %}
