{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>{% trans "Confirmed!" %}</h1>
		<p>{% trans "Thanks for using Write-it, your message will be sent very soon." %}</p>
		<p><a href="{% url 'instance_detail' slug=confirmation.message.writeitinstance.slug %}" class="btn btn-primary btn-lg">{% blocktrans with confirmation.message.writeitinstance.name as name %}More messages at {{name}} <i class="icon-double-angle-right"></i>{% endblocktrans %}</a></p>
	</div>
</div>
{% endblock content %}