{% extends "base_manager.html" %}
{% load i18n %}
{% block sidebar %}
{% endblock sidebar %}
{% block bodyclass %}page-without-sidebar{% endblock bodyclass %}
{% load subdomainurls %}

{% block content %}
<div class="page-header">
    <h2>{% trans "Create your new Site" %}</h2>
</div>

{% blocktrans %}
<p>You’re going to make a site that enables people to contact their
politicians.</p>
{% endblocktrans %}
<form method="POST">
  <div class="form-group">
    <label>Legislature</label>
    <select name="legislature" class="form-control js-countries-list">
      <option value="">Select a legislature</option>
      <option disabled></option>
      {% for country in countries %}
      <option
      data-slug="{{ country.slug }}"
      data-email-count="{{ country.people_with_contact_details }}"
      data-person-count="{{ country.person_count }}"
      value="{{ country.popolo_json_master_url }}"
      >{{ country.country }} - {{ country.legislature }}</option>
      {% endfor %}
    </select>
    <span class="helptext js-not-enough-contact-details"></span>
    <span class="helptext js-low-contact-count-warning"></span>
  </div>
  <p><a href="#" class="js-show-manual-popolo">I have my own suitably formatted popolo</a></p>
  <p><a href="#" class="js-show-legislature-list">I'd like to choose from the list of countries</a></p>
    {% csrf_token %}
    {{form.as_p}}
    <button class='btn btn-primary js-submit-button'>{% trans 'Create' %}</button>
</form>

<script>
  var notEnoughContactDetails = $('.js-not-enough-contact-details');
  notEnoughContactDetails.hide();
  var showLegislatureList = $('.js-show-legislature-list').closest('p');
  showLegislatureList.hide();
  var showPopitUrl = $('.js-show-manual-popolo');
  var popitUrl = $('#id_popit_url').closest('p');
  popitUrl.hide();
  popitUrl.after(showLegislatureList);
  var countriesList = $('.js-countries-list');
  var submitButton = $('.js-submit-button');
  var lowContactCountWarning = $('.js-low-contact-count-warning');
  lowContactCountWarning.hide();
  submitButton.prop('disabled', true);
  $('.js-show-manual-popolo').click(function(e) {
    e.preventDefault();
    submitButton.removeAttr('disabled');
    popitUrl.show();
    showLegislatureList.show();
    countriesList.closest('div').hide();
    $(this).hide();
  });
  $('.js-show-legislature-list').click(function(e) {
    e.preventDefault();
    submitButton.prop('disabled', true);
    countriesList.closest('div').show();
    popitUrl.hide();
    showPopitUrl.show();
    $(this).closest('p').hide();
  });
  countriesList.change(function(e) {
    notEnoughContactDetails.hide();
    lowContactCountWarning.hide();
    var option = $('option:selected', this);
    var slug = option.data('slug');
    var emailCount = option.data('email-count');
    var personCount = option.data('person-count');
    if (emailCount > 0) {
      submitButton.removeAttr('disabled');
      $('#id_popit_url').val($(this).val());
      $('#id_slug').val(slug);
      if ((emailCount / personCount) <= 0.5) {
        var text = 'We only have email addresses for ' + emailCount + ' out of ' + personCount + ' people.';
        lowContactCountWarning.text(text);
        lowContactCountWarning.show();
      }
    } else {
      submitButton.prop('disabled', true);
      notEnoughContactDetails.text('No contact details');
      notEnoughContactDetails.show();
    }
  });
</script>


{% endblock content %}

{% block extrajs %}
  $('#id_popit_url').keyup(function(e) {
    var slug = '',
        domain = this.value.split('/')[2];
    if (domain) {
        slug = domain.split('.')[0].toLowerCase();
    }
    $('#id_slug').val(slug);
  });
{% endblock extrajs %}
