{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h2>{% trans "You can now write your question" %}</h2>
<form method='post' class='form-horizontal'>
{% csrf_token %}
{{ form.non_field_errors }}
	<div class="fieldWrapper">
        {{ form.author_name.errors }}
        <label for="id_author_name">{% trans "Your name *" %}</label>
        {{ form.author_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.author_email.errors }}
        <label for="id_author_email">{% trans "Your email *" %}</label>
        {{ form.author_email }}
    </div>
    <div class="fieldWrapper">
        {{ form.persons.errors }}
        <label for="id_persons">{% trans "To whom *" %}</label>
        {{ form.persons }}
    </div>
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_subject">{% trans "Subject *" %}</label>
        {{ form.subject }}
    </div>
    <div class="fieldWrapper">
        {{ form.content.errors }}
        <label for="id_content">{% trans "Content *" %}</label>
        {{ form.content }}
    </div>
    
<input type='submit' class='btn btn-primary' value= "{% trans 'Submit Message' %}"/>
</form>
{% if writeitinstance.message_set.count == 0 %}
    <h2>{% trans "There are no messages" %}</h2>
{% else %}

    <h2>{% trans "Messages" %}</h2>
    <dl class="dl-horizontal">

    {% for message in writeitinstance.message_set.all %}
    <div>
    	<h3>{{ message.subject }}</h3> <a href="{% url 'message_detail' slug=message.slug %}">{% trans "Link" %}</a>
    	<h4>{{ message.content }}</h4>
    	<span class="author_name"><small>{% blocktrans with message.author_name as name %}Asked by {{ name }}.{% endblocktrans %}</small></span><br />
        {% if message.answer_set.count > 0 %}
        <div class="answers">
            <h4>{% trans "Answers" %}</h4>
            {% for answer in message.answer_set.all %}
            <div class="answer">
                <span class="content">{{ answer.content }} </span>
                <small>{% blocktrans with answer.person.name as name %} by {{ name }}.{% endblocktrans %}</small>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    </dl>
        {% if not forloop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock content%}
