{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load markdown_deux_tags %}
<ul class="flash-messages">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% if query %}
    <h3>{% trans 'Results' %}</h3>
    {% for result in page.object_list %}
        <div class="search_result">
            {% if result.model_name == 'message' %}
                {% include 'nuntium/message/message_in_search_list.html' with message=result.object %}
            {% endif %}
            {% if result.model_name == 'answer' %}
                {% include 'nuntium/message/message_in_search_list.html' with message=result.object %}
            {% endif %}
        </div>
    {% empty %}
        <p>{% trans 'No results found.' %}</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
        <div>
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            |
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
    {% endif %}
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}

{% endblock content %}

{% block search_form %}
<form class="navbar-form navbar-right" method="get"  role="form">
    <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Search within messages</label>
        <input type="text" class="form-control" name="q" id="id_q" placeholder="{% trans 'Search within messages' %}" value="{{ form.q.value }}">
    </div>
    <button type="submit" class="btn btn-success" >{% trans 'Search' %}</button>
</form>
{% endblock search_form%}