{% extends "base_public.html" %}
{% load i18n %}

{% block content %}

    <div class="site-content">
        <div class="container">
            <div class="instance-hero">
                <p class="instance-hero__welcome">Welcome to {{ writeitinstance.name }}</p>
                <h2 class="instance-hero__heading">
                    {% trans "This is a description of your WriteIt instance. Click the pencil to edit it." %}
                    <a class="instance-hero__edit" href="#"><i class="fa fa-pencil">{% trans "Edit" %}</i></a>
                </h2>
                <a class="btn btn-primary btn-lg" href="#">{% trans "Send a message" %}</a>
            </div>
        </div>

      {% if writeitinstance.message_set %}
        <div class="instance-summary">
            <div class="container">
                <div class="instance-summary__recent">
                    <h2>{% trans "Recent messages" %}</h2>
                    <p><strong>TODO:</strong> Show recent messages here.</p>
                </div>
                <div class="instance-summary__popular">
                    <h2>{% trans "Most popular representatives" %}</h2>
                    <p><strong>TODO:</strong> Show representatives here.</p>
                </div>
            </div>
        </div>
      {% endif %}
    </div>

{% endblock content %}

{% block search_form %}

    <form action="{% url 'instance_search' slug=writeitinstance.slug %}" class="navbar-form navbar-right" method="get"  role="form">
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Search within messages</label>
            <input type="text" class="form-control" name="q" id="id_q" placeholder="{% trans 'Search within messages' %}">
        </div>
        <button type="submit" class="btn btn-success" >{% trans 'Search' %}</button>
    </form>

{% endblock search_form%}
