{% extends "base_public.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block content_inner %}

    <h2>{% trans "Current instances of WriteIt" %}</h2>

  {% if object_list %}
    {% autopaginate object_list %}
    {% paginate %}
    <ul>
      {% for instance in object_list %}
        <li>
            <a href="{% url 'instance_detail' slug=instance.slug %}">{{ instance.name }}</a>
          {% if instance.config.testing_mode %}
            <i class="fa fa-info-circle extra-info" data-toggle="tooltip" data-placement="left"
title="{% trans 'This instance can only be seen by you and all the messages will go to your email.' %}"></i> <span class="label label-info">{% trans 'Testing mode' %}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% paginate %}
  {% else %}
    <p>{% trans "There are no instances yet!" %}</p>
    <p><a href="#" class="btn btn-primary">{% trans "Create a WriteIt instance" %}</a></p>
  {% endif %}

{% endblock content_inner %}

{% block extrajs %}
  $(function(){
    $('.extra-info').tooltip({});
  });
{% endblock extrajs %}

