{% extends "base_front.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load pagination_tags %}

{% block content %}

    <h2 class="text-center">{% trans "Current instances of WriteIt" %}</h2>

  {% if object_list %}
    {% autopaginate object_list %}
    {% paginate %}
    <div class="list-group instances-list-group">
      {% for instance in object_list %}
        <a class="list-group-item" href="{% url 'instance_detail' subdomain=instance.slug %}">
          <h4 class="list-group-item-heading">{{ instance.name }}</h4>
          {% if instance.config.testing_mode %}
            <p class="list-group-item-text">{% trans 'This instance is in Test Mode. It can only be seen by you and all the messages will go to your email.' %}</p>
          {% endif %}
        </a>
      {% endfor %}
    </div>
    {% paginate %}
  {% else %}
    <p>{% trans "There are no instances yet!" %}</p>
    <p><a href="#" class="btn btn-primary">{% trans "Create a WriteIt instance" %}</a></p>
  {% endif %}

{% endblock content %}
