{% extends "base_manager.html" %}
{% load i18n %}
{% load staticfiles %}
{% load nuntium_tags %}


{% block header %}
{% include 'nuntium/profiles/per_instance_top_menu.html' with section='writeitinstance_advanced_update' %}
{% endblock header %}

{% block content %}

    <div class="page-header">
        <h2>{% trans 'Recipients settings' %}</h2>
        <a href="{% url 'contacts-per-writeitinstance' %}"><i class="glyphicon glyphicon-arrow-left"></i> {% trans "back to recipients" %}</a>
    </div>


    <form role="form" action="" method="post">
      <div class="settings-group">
        <h3>Maximum recipients</h3>
        <p class="help-block">{% blocktrans %}
        Select the maximum number of recipients any individual message can
        be sent to.
        {% endblocktrans %}</p>

        {% assignment_url_with_subdomain 'contact_us' subdomain=None as contact_page %}
        <p class="help-block">{% blocktrans %}
        This is limited to a maximum of ten recipients per message. If you
        want to enable sending messages to more people at once, please
        <a href="{{ contact_page }}">contact us</a>.
        {% endblocktrans %}</p>

          <div class="form-group">
            {{form.maximum_recipients.errors}}
            {{form.maximum_recipients.label_tag}}
            {{form.maximum_recipients}}
          </div>
      </div>
      <div class="save-bar">
        <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
      </div>
      {% csrf_token %}
    </form>

{% endblock content %}
