{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}


{% block header %}
{% include 'nuntium/profiles/per_instance_top_menu.html' with section='writeitinstance_advanced_update' %}
{% endblock header %}

{% block content %}

      <div class="page-header">
        <h2>{% trans 'Message settings' %}</h2>
        <a href="{% url 'messages_per_writeitinstance' subdomain=writeitinstance.slug %}"><i class="glyphicon glyphicon-arrow-left"></i> {% trans "back to messages" %}</a>
    </div>



    <form role="form" action="" method="post">
      {{ form.non_field_errors }}
      <div class="settings-group">
      <h3>{% trans 'Site name for emails' %}</h3>
        <p class="help-block">{% blocktrans %}
          If you want there to be a real name in addition to
          email address in the "From:" line of confirmation
          emails, etc. that the site sends, then you can set
          that real name here.
    {% endblocktrans %}</p>
        <div class="form-group">
          {{form.real_name_for_site_emails.errors}}
          {{form.real_name_for_site_emails.label_tag}}
          {{form.real_name_for_site_emails}}
        </div>
      </div>
      <div class="settings-group">
      <h3>{% trans 'Answer notification' %}</h3>
        <p class="help-block">{% blocktrans %}
    If you turn on “Answer Notification”, you will receive copies of all
    responses to messages to your email address.
    {% endblocktrans %}</p>
        <div class="form-group">
          {{form.notify_owner_when_new_answer.errors}}
          {{form.notify_owner_when_new_answer.label_tag}}
          {{form.notify_owner_when_new_answer}}
        </div>
      </div>
      <div class="save-bar">
        <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
      </div>
      {% csrf_token %}
    </form>

{% endblock content %}
