{% extends "base_edit.html" %}
{% load subdomainurls %}
{% load i18n %}

{% block extrajs %}

{% endblock extrajs %}

{% block header %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'account' %}">{% trans "Your profile" %}</a></li>
    <li class="active">{{ writeitinstance }}</li>
</ul>

<div class="page-header">
    <h2>{% blocktrans with writeitinstance=writeitinstance %}Editing {{ writeitinstance }}{% endblocktrans %}</h2>
</div>


<ul class="nav nav-pills">
  <li class="active"><a href="#basic-update" data-toggle="tab">{% trans "Basic Update" %}</a></li>
  <li><a href="#webhooks" data-toggle="tab">{% trans "Webhooks" %}</a></li>
  <li><a href="#advanced-update" data-toggle="tab">{% trans "Advanced Update" %}</a></li>
  <li><a href="#templates" data-toggle="tab">{% trans "Templates" %}</a></li>
  <li><a href="#nothing" data-toggle="tab">{% trans "Nothing" %}</a></li>
</ul>
{% endblock header %}

{% block content %}
<div class="tab-content">
  <div class="tab-pane active" id="basic-update">
    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class='btn btn-primary' value="Update" />
    </form>
  </div>
  <div class="tab-pane" id="webhooks">I'm not implemented</div>
  <div class="tab-pane" id="advanced-update">I'm not implemented</div>
  <div class="tab-pane" id="templates">I'm not implemented</div>
  <div class="tab-pane" id="nothing"><a href="https://s3-sa-east-1.amazonaws.com/candideitstatic/fiera_trabajando.jpg">Really nothing, don't click!</a></div>
</div>





{% endblock content %}