{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='writeitinstance_advanced_update' %}

{% endblock header %}

{% block content %}

    <div class="page-header">
        <h2>{% blocktrans with writeitinstance=writeitinstance %}Editing the advanced parts of {{ writeitinstance }}{% endblocktrans %}</h2>
    </div>

    <form role="form" action="" method="post">
      <div class="form-group">
        {{form.testing_mode.label_tag}}
        <a href="/en/help/glossary/#testing-mode" class="help-loader">[?]</a>
        {{form.testing_mode}}
      </div>
      <div class="form-group">
        {{form.moderation_needed_in_all_messages.label_tag}}
        <a href="/en/help/glossary/#help-moderation" class="help-loader">[?]</a>
        {{form.moderation_needed_in_all_messages}}
      </div>
      <div class="form-group">
        {{form.allow_messages_using_form.label_tag}}
        {{form.allow_messages_using_form}}
      </div>
      <div class="form-group">
        {{form.rate_limiter.label_tag}}
        {{form.rate_limiter}}
      </div>
      <div class="form-group">
        {{form.notify_owner_when_new_answer.label_tag}}
        {{form.notify_owner_when_new_answer}}
      </div>
      <div class="form-group">
        {{form.autoconfirm_api_messages.label_tag}}
        {{form.autoconfirm_api_messages}}
      </div>
      <div class="form-group">
        {{form.maximum_recipients.errors}}
        {{form.maximum_recipients.label_tag}}
        {{form.maximum_recipients}}
      </div>
      <div class="save-bar">
        <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
      </div>
      {% csrf_token %}
    </form>




{% endblock content %}
