{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}


{% block header %}
{% include 'nuntium/profiles/per_instance_top_menu.html' with section='writeitinstance_advanced_update' %}
{% endblock header %}

{% block content %}

    <div class="page-header">
        <h2>{% trans 'Maximum Recipients' %}</h2>
    </div>

    <p>{% blocktrans %}
    Select the maximum number of recipients any individual message can
    be sent to.
    {% endblocktrans %}</p>

    <p>{% blocktrans %}
    This is limited to a maximum of ten recipients per message. If you
    want to enable sending messages to more people at once, please
    contact us.
    {% endblocktrans %}</p>

    <form role="form" action="" method="post">

      <div class="form-group">
        {{form.maximum_recipients.errors}}
        {{form.maximum_recipients.label_tag}}
        {{form.maximum_recipients}}
      </div>

      <div class="save-bar">
        <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
      </div>
      {% csrf_token %}
    </form>

{% endblock content %}
