{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='writeitinstance_basic_update' %}

{% endblock header %}

{% block content %}

    <div class="page-header">
        <h2>{% blocktrans with writeitinstance=writeitinstance %}Editing {{ writeitinstance }}{% endblocktrans %}</h2>
    </div>
      <span>
        {% if writeitinstance.pulling_from_popit_status.inprogress > 0 %}
        {% blocktrans with writeitinstance=writeitinstance %}We are getting information from popit about the people and contacts in this instance{% endblocktrans %}
        {% endif %}
      </span>

    <form role="form" action="" method="post">
      <div class="form-group">
        {{form.name.label_tag}}
        {{form.name}}
      </div>
      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>

      <div class="form-group">
          {{advanced_form.testing_mode.label_tag}}
          {{advanced_form.testing_mode}}
      </div>
      <div class="form-group">
          {{advanced_form.moderation_needed_in_all_messages.label_tag}}
          {{advanced_form.moderation_needed_in_all_messages}}
      </div>
      <div class="form-group">
          {{advanced_form.allow_messages_using_form.label_tag}}
          {{advanced_form.allow_messages_using_form}}
      </div>
      <div class="form-group">
          {{advanced_form.rate_limiter.errors}}
          {{advanced_form.rate_limiter.label_tag}}
          {{advanced_form.rate_limiter}}
      </div>
      <div class="form-group">
          {{advanced_form.notify_owner_when_new_answer.label_tag}}
          {{advanced_form.notify_owner_when_new_answer}}
      </div>
      <div class="form-group">
          {{advanced_form.autoconfirm_api_messages.label_tag}}
          {{advanced_form.autoconfirm_api_messages}}
      </div>
      <div class="form-group">
          {{advanced_form.maximum_recipients.errors}}
          {{advanced_form.maximum_recipients.label_tag}}
          {{advanced_form.maximum_recipients}}
      </div>

      <div class="save-bar">
        <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
      </div>

      {% csrf_token %}
    </form>



{% endblock content %}
