{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}

{% block content %}
<div class="page-header">
    <h2>{% trans "API" %}</h2>
    <a href="{% url 'writeitinstance_api_autoconfirm_update' subdomain=writeitinstance.slug %}" class="page-header__settings-link btn btn-default btn-sm"><i class="glyphicon glyphicon-wrench"></i>{% trans "Settings" %}</a>
  </div>
            <h2>{% trans "Creating a message using the API" %}</h2>

            <p>{% trans "To create a message using the API, send a POST request to" %}<br>
            <code>{{ api_base_url }}message/?format=json&username={{ user.username }}&api_key={{ user.api_key.key }}</code><br>
            {% trans "with payload data like" %}<br>
            <code>
              {<br>
              &nbsp;&nbsp;&nbsp;&nbsp;'content': '{% trans "Message content here" %}', <br>
              &nbsp;&nbsp;&nbsp;&nbsp;'writeitinstance': '/api/v1/instance/{{ writeitinstance.id }}/', <br>
              &nbsp;&nbsp;&nbsp;&nbsp;'persons': [<br>
              {% for person in writeitinstance.persons.all %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'{{ person.uri_for_api }}'{% if not forloop.last %},{% endif %}</code> ## For {{ person }}<br><code>
              {% endfor %}
              &nbsp;&nbsp;&nbsp;&nbsp;], <br>
              &nbsp;&nbsp;&nbsp;&nbsp;'author_name': '{% trans "Name of sender" %}', <br>
              &nbsp;&nbsp;&nbsp;&nbsp;'subject': '{% trans "Message subject here" %}'<br>
            }
            </code>
            </p>

{% endblock content %}
