{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}

{% block content %}
<div class="modal fade" id="availablePeople" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans  'Available people for your instance'%}</h4>
      </div>
      <div class="modal-body">
        <table class="table">
            
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'popit_url' %}</th>
        </tr>
        {% for person in writeitinstance.persons.all %}
        <tr>
            <td>{{person.name}}</td>
            <td>{{ person.popit_url }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="page-header">
    <h2>{% trans "API docs" %}</h2>
    <a href="{% url 'writeitinstance_api_autoconfirm_update' subdomain=writeitinstance.slug %}" class="page-header__settings-link btn btn-default btn-sm"><i class="glyphicon glyphicon-wrench"></i>{% trans "Settings" %}</a>
  </div>
            <h3>{% trans "Messages" %}</h3>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">{% trans "Create a Message [POST]" %}</h4>
              </div>
              <div class="panel-body">
                        <div>
                            <h5>{% trans 'The endpoint' %}</h5>
                            <code>
                                {{ api_base_url }}message/?format=json&username={{user.username}}&api_key={{user.api_key.key}}
                            </code>
                            
                        </div>
                        <div>
                            <h5>{% trans 'The headers' %}</h5>
                            {% blocktrans %}
                            You need to set the Accept header with either <code>application/json</code> or <code>application/xml</code> depending on the format of the response.
                            {% endblocktrans %}
                        </div>
                        <div>
                            <h5>{% trans 'The response' %}</h5>
                            {% blocktrans %}
                            This endpoint returns in the content the information of the recently created message.
                            {% endblocktrans %}
                        </div>
                        <div>
                            <h5>{% trans "The payload" %}</h5>
                            
                            <code>
                                {<br />
                                'content': '{% trans 'The content can be a long text' %}', <br />
                                'writeitinstance': '/api/v1/instance/{{ writeitinstance.id }}/', <br />
                                'persons': [{% for person in writeitinstance.persons.all|slice:":2" %}"{{ person.popit_url }}" ## {{person.name}}<br />{% if not forloop.last %},{% endif %}{% endfor %}], <br />
                                'author_name': '{% trans 'Your Name' %}', <br />
                                'subject': '{% trans 'The subject has to be a one line description of the content' %}'<br />                             
                                }<br />
                            </code>
                            {% blocktrans %}
                            We have selected just a few people for the example but you can see the entire list 
                            <a class="" data-toggle="modal" data-target="#availablePeople">
                                  here
                              </a>
                              {% endblocktrans %}
                        </div>

            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">{% trans 'Example using CURL:' %}</a>
            <div class="collapse" id="collapseExample">
              <div class="well">
                        <div class="code-example">
                        <code>
                            curl --dump-header - -H 'Accept: application/json' -H "Content-Type: application/json" -X POST  --data '{"content": "{% trans 'The content can be a long text' %}","writeitinstance": "/api/v1/instance/{{ writeitinstance.id }}/","persons": [{% for person in writeitinstance.persons.all|slice:":2" %}"{{ person.popit_url }}"{% if not forloop.last %},{% endif %}{% endfor %}],"author_name": "{% trans 'Your Name' %}","subject": "{% trans 'The subject has to be a one line description of the content' %}"}' "{{ api_base_url }}message/?format=json&username={{user.username}}&api_key={{user.api_key.key}}"
                        </code>
                        </div><!--code-example-->
                </div>
            </div>
              </div>
            </div>

{% endblock content %}
