{% extends "base.html" %}
{% load subdomainurls %}
{% load i18n %}

{% block extrajs %}
{% endblock extrajs %}

{% block content %}



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="text-center">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans 'Oh snap!' %}</strong> {% trans "Your username and password didn't match. Please try again." %}</p>
            </div>
            {% endif %}
            <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
              <div class="form-group">
                <!-- <label for="username">{% trans 'Username' %}</label> -->
                <input type="username" class="form-control" id="username" placeholder="{% trans 'Username' %}">
              </div>
              <div class="form-group">
                <!-- <label for="password">{% trans 'Password' %}</label> -->
                <input type="password" class="form-control" id="password" placeholder="{% trans 'Password' %}">
              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans 'Sign In' %}</button>
              {% csrf_token %}
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock content%}