.message {
  background-color: #f3f3f3;
  padding: 1em;

  @media (min-width: $screen-sm) {
    padding: 2em;
  }
}

.message__meta {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em;

  dt {
    float: left;
    width: 4em;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  dd {
    margin-left: 5em;
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 1.5em;
    }
  }

  .text-muted {
    color: #aaa;
    margin-left: 5px;
  }

  a {
    text-decoration: underline;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.message__content {
  p:last-child {
    margin-bottom: 0;
  }
}

.post-message-actions {
  text-align: center;
  margin: 1em 0 2em 0;

  @media (min-width: $screen-sm) {
    margin-top: 2em;
  }
}

.post-message-actions__back {
  @extend .btn;
  @extend .btn-link;

  &:before {
    @extend .fa;
    content: $fa-var-angle-double-left;
    margin-right: 0.5em;
  }
}
