@import "layout-homepage";
@import "layout-header";
@import "layout-footer";
@import "layout-alerts";
@import "layout-write";
@import "layout-message";
@import "layout-person";

.dropdown-menu-item {
  display: block;
  padding: 3px 20px;
  clear: both;
}

.instances-list-group {
  max-width: 28em;
  margin: 2em auto;
}
