.writing-breadcrumb {
  text-align: center;
  list-style: none;
  padding-left: 0;
  margin-top: 2em;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.writing-breadcrumb__step {
  display: inline-block;

  &:before {
    content: "\00BB";
    display: inline-block;
    margin: 0 1.1em 0 1em; // more margin on right to compensate for whitespace on left
  }

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.writing-breadcrumb__step--current {
  font-weight: bold;
}

.writing-buttons {
  @include clearfix();
  margin: 2em 0;
}

.writing-buttons__button--next {
  @extend .btn;
  @extend .btn-primary;

  float: right;

  &:after {
    @extend .fa;
    content: $fa-var-chevron-right;
    margin-left: 0.5em;
    vertical-align: -1px;
  }
}

.writing-buttons__button--previous {
  @extend .btn;

  float: left;

  &:before {
    @extend .fa;
    content: $fa-var-chevron-left;
    margin-right: 0.5em;
    vertical-align: -1px;
  }
}
