<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Write-It </title>
    <link href="/atom.xml" rel="alternate" title="Write-It" type="application/atom+xml">
    <link href="/css/help-pages.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png" />
    <meta name="viewport" content="initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="site-header">
      <ul class="menu">
        <li><a href="http://writeit.ciudadanointeligente.org/es/">Instances</a></li>
        <li class="poplus-logo"><a href="http://poplus.org/">Poplus</a></li>
      </ul>
      <a class="site-logo" href="/">
        <img alt="Writeit" src="/images/writeit.png">
      </a>
      <div style="clear:both"></div>
    </div>
    <div class="page-wrapper">
      <div class="page">
        <div class="main-content-column">
          <main role="main" class="main-content">
            {{ content }}
          </main>
        </div>
        <div class="secondary-content-column">
          <nav class="sidebar">
            <ul>
              <li><a href="{{ site.baseurl }}/">WriteIt</a></li>
              <li><a href="{{ site.baseurl }}/help/">Documentation</a>
              <li><a href="{{ site.baseurl }}/glossary.html">Glossary</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="site-footer">
      <div class="footer footer-right">
        Proudly hosted on
        <a target="_blank" href="https://github.com/ciudadanointeligente/write-it">
          <img alt="Poplus" src="/images/github-logo.png">
        </a>
      </div>
    </div>
  </body>
</html>
