{% if site.sections.brief_bio.social_links.enabled %}
	{% assign brief_bio_enabled_social_link_html = null %}
	{% capture brief_bio_enabled_social_link_html %}

		{% assign brief_bio_enabled_social_link = false %}

		{% for brief_bio_social_link_l in site.social_links.links %}
			{% if brief_bio_social_link_l.enabled %}
				{% assign brief_bio_enabled_social_link = true %}
			{% endif %}
		{% endfor %}

		{% if brief_bio_enabled_social_link %}
			<br>
			{% if site.social_links.follow_name %}
				<p class="text-center"><small><strong>FOLLOW {{ site.social_links.follow_name | upcase }}</strong></small></p>
			{% else %}
				<p class="text-center"><small><strong>FOLLOW ME</strong></small></p>
			{% endif %}

			<ul class="inline text-center">
				{% for brief_bio_social_link in site.social_links.links %}
					{% if brief_bio_social_link.enabled %}
						<li>
							<a class="btn" href="{{ brief_bio_social_link.url }}" target="_blank">
								{% if site.font_awesome.enabled and brief_bio_social_link.font_awesome_icon %}
									<i class="{{ brief_bio_social_link.font_awesome_icon }}"></i>
								{% else %}
									{{ brief_bio_social_link.name }}
								{% endif %}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	{% endcapture %}
	{{ brief_bio_enabled_social_link_html | strip_newlines | remove:'	' }}
{% endif %}