{% assign head_common_html = null %}
{% capture head_common_html %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ site.url }}/css/{{ site.bootstrap.css }}" rel="stylesheet" media="screen">
	<link href="{{ site.url }}/css/gh-pages-blog.css" rel="stylesheet" media="screen">

	{% if site.bootstrap.responsive.enabled %}
		<link href="{{ site.url }}/css/{{ site.bootstrap.responsive.css }}" rel="stylesheet">
	{% endif %}

	{% if site.font_awesome.enabled %}
		<link rel="stylesheet" href="{{ site.url }}/css/{{ site.font_awesome.css }}">
	{% endif %}

	{% if site.rss.enabled %}
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/rss.xml" />
	{% endif %}

	{% if site.favicon.enabled and site.favicon.local.enabled %}
		<link rel="icon" type="image/{{ site.favicon.local.type }}" href="{{ site.url }}{{ site.favicon.local.partial_url }}" />
	{% elsif site.favicon.enabled and site.favicon.remote.enabled %}
		<link rel="icon" type="image/{{ site.favicon.remote.type }}" href="{{ site.favicon.remote.full_url }}" />
	{% endif %}
{% endcapture %}
{{ head_common_html | strip_newlines | remove:'	' }}