{% extends "base_instance.html" %}
{% load nuntium_tags %}
{% load i18n %}

{% block content_inner %}



    <div class="full-width-wrapper">
    <article class="centred page">
        <h1>آسان‌ترین راه نامه‌نگاری با نمایندگان مجلس</h1>

        <p>
مجلس‌نامه ابزاری است که نوشتنِ نامه‌ به نمایندگان مجلس را آسان می‌کند. با استفاده از این وبسایت، شما می‌توانید به نمایندگان خود در مجلس به صورت عمومی نامه بنویسید. نامه‌‌ی شما به صورت عمومی، در وبسایتِ مجلس‌نامه منتشر و نسخه‌ای از آن برای نماینده (یا نمایندگان) مورد نظر فرستاده می‌شود.
</p>
<p>
مجلس‌نامه کاری است از گروه اصل۱۹، که پیشتر پروژه‌های روحانی‌سنج و دیدبان مجلس را در راستای ارتقا و افزایش شفافیت و پاسخگویی فضای سیاسی ایران معرفی کرده‌ بود. 
مجلس‌نامه نسخه‌ی بومی‌سازی شده‌ی سایت Writetothem از سازمان غیرانتفاعی بین‌المللی MySociety است. 
</p>
<p>
امکان گفتگو با صاحبان قدرت و پاسخ‌گویی سیاست‌مداران، از ارکان حقوق شهروندی و دموکراسی شمرده می‌شوند. 
نمایندگان مجلس، منتخب مردم‌اند و باید پاسخگوی شهروندان حوزه‌ی انتخابیه‌ی خود باشند. با مجلس‌نامه، شهروندان به آسان‌ترین شکل ممکن مسائل خود را با منتخبان خود مطرح می‌کنند که زمینه‌ را برای گفتگو بین شهروندان و قانون‌گذاران کشور ایجاد می‌کند.
</p>
<p>
    کار کردن با مجلس‌نامه بسیار راحت است. شما می‌توانید با یک جستجوی ساده در وبسایت، نماینده‌‌ای را که قصد تماس با او دارید پیدا و انتخاب کنید. 
</p>
<p>
   پیام‌های شما به صورت عمومی در صفحه اصلی وبسایت منتشر می‌شوند، منتشر می‌شوند. مجلس‌نامه همچنین این امکان را به نمایندگان می‌دهد تا در صورت تمایل به نامه‌های خطاب به خود پاسخ دهند تا در زیر همان پیام منتشر شود. 
برای استفاده از مجلس‌نامه تنها به یک ایمیل معتبر نیاز دارید. این
<b> ایمیل تحت هیچ شرایطی با هیچ‌کس به اشتراک گذاشته نمی‌شود</b>
 و همواره پنهان خواهد ماند.
</p>

<p>
  برای خدمات پشتیبانی یا تماس با گروه مجلس‌نامه به support@namehbeanha.com ایمیل بزنید.
</p>

    </article>
</div>
{% endblock content_inner %}
