{% extends "base_instance.html" %}
{% load nuntium_tags %}
{% load i18n %}

{% block content_inner %}



    <div class="full-width-wrapper">
    <article class="centred page">
        <h1>آسان‌ترین راه نامه‌نگاری با نمایندگان مجلس</h1>

        <p>مجلس‌نامه ابزاری است که نوشتنِ نامه‌ به نمایندگان مجلس را ساده می‌کند. با استفاده از این وبسایت، شما می‌توانید به نمایندگان خود در مجلس به صورت عمومی، نامه بنویسید. نامه‌‌ی شما در وبسایت منتشر و نسخه‌ای از آن برای نماینده (یا نمایندگان) مورد نظر فرستاده می‌شود.
مجلس‌نامه کاری است از گروه
            
<a href="http://asl19.org"> اصل۱۹،</a>
که پیشتر پروژه‌های
<a href="https://rouhanimeter.com/">روحانی‌سنج</a>
و
<a href="https://majlismonitor.com/">دیدبان مجلس</a>
را در راستای ارتقا و افزایش شفافیت و پاسخگویی در فضای سیاسی ایران معرفی کرده‌ بود. 
این وبسایت نسخه‌ی بومی‌شده‌ی پروژه‌ی
<a href="http://www.writetothem.com">WriteToThem</a>
 کاری از سازمان غیرانتفاعی بین‌المللی
<a href="http://www.mysociety.org">mySociety</a>
است.
</p>
<p><b>چرا مجلس‌نامه؟</b></p>
<p>
    امکان گفت‌وگو با صاحبان قدرت و پاسخ‌گویی سیاست‌مداران، از ارکان حقوق شهروندی و دموکراسی شمرده می‌شود. با مجلس‌نامه، شهروندان به آسان‌ترین شکل ممکن مسائل خود را با منتخبان خود مطرح می‌کنند که این خود، زمینه‌ را برای گفتگو بین شهروندان و قانون‌گذاران کشور ایجاد می‌کند.
</p>
<p>
کار کردن با مجلس‌نامه بسیار راحت است. شما می‌توانید با یک جستجوی ساده در وبسایت، نماینده‌‌ای که قصد تماس با او را دارید، انتخاب کنید و به او نامه بنویسید. این وبسایت همچنین امکان پاسخ‌گویی را به نمایندگان می‌دهد که زیر همان نامه منتشر خواهد شد.

برای استفاده از مجلس‌نامه به یک ایمیل معتبر نیاز دارید.
<b> این ایمیل تحت هیچ شرایطی با هیچ‌کس به اشتراک گذاشته نمی‌شود. 
</b>
</p>
<p>
متاسفانه ایمیل برخی از نمایندگان، عمومی و در دسترس نیست. از همین رو، از شما می‌خواهیم ما را در تکمیل فهرست ایمیل‌ها یاری کنید. اگر به اطلاعات تماس نماینده‌ای در
<a href="https://iran.namehbeanha.com/fa/missing/"> این فهرست</a>
دسترسی دارید، آن را از طریق آدرس support at namehbeanha.com برای ما بفرستید.

</p>

<div class="row text-center">
    <div class="col-sm-4 col-sm-push-4">
        <img src="/static/iran/images/iran/farhad.jpeg" width="160" height="160" alt="Farhad" style="margin: 2em 0 1em 0; max-width: 100%;">
        <p>فرهاد سوزنچی</p>
        <p><a href="https://twitter.com/farhadist" style="display: inline-block; direction: ltr">@farhadist</a></p>
    </div>
    <div class="col-sm-4 col-sm-push-4">
        <img src="/static/iran/images/iran/mehrad.jpeg" width="160" height="160" alt="Mehrad" style="margin: 2em 0 1em 0; max-width: 100%;">
        <p>مهراد رفیع</p>
        <p><a href="https://twitter.com/mehrad_rafie" style="display: inline-block; direction: ltr">@mehrad_rafie</a></p>
    </div>
</div>

    </article>
</div>
{% endblock content_inner %}
