{% load staticfiles %}
{% load i18n %}
{% load subdomainurls %}
    <footer class="footer full-width-wrapper">
        <nav class="navbar">
          {% if writeitinstance %}
            <ul>
                <li>
                    <a href="{% url 'instance_detail' subdomain=writeitinstance.slug %}">{% trans "Home" %}</a>
                </li>
                <li>
                    <a href="{% url 'about' subdomain=writeitinstance.slug %}">{% trans "About" %}</a>
                </li>
            </ul>
          {% endif %}

            <ul class="footer-logos">
                <li class="footer-logo footer-logo--asl19"><a href="https://asl19.org">ASL19</a></li>
                <li class="footer-logo footer-logo--mysociety"><a href="https://www.mysociety.org">mySociety</a></li>
            </ul>
        </nav>
    </footer>
