{% extends "base_manager.html" %}

{% load i18n %}

{% block content %}

<div class="page-header">
    <h2>{% trans "Contact Us" %}</h2>
</div>

{% blocktrans %}
<p>Need us to take your site out of Test Mode? Want us to fix something 
about how the site works, or add a feature? Or just want to shower us with
praise?</p>

<p>We'd love to hear from you — what you like about the site, what you
hate about it, or what you wish it did differently.</p>

<p>Just email us at <tt>team@writeinpublic.com</tt></p>
{% endblocktrans %}


{% endblock content %}
~


