{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}

{% block extrajs %}
{% endblock extrajs %}

{% block extrascripts %}
{% endblock extrascripts %}

{% block header %}
{% include 'nuntium/profiles/top_menu.html' with section='docs' %}
{% endblock header %}

{% block content %}
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row" id="contacts">
  	<h3>Creating a WriteIt Instance</h3>
  	<p>In order to use WriteIt you need to create an instance and provide a Popit Instance Api, for instance:</p>
  	<p>At Ciudadano Inteligente we have a Popit Instance of Chilean Parlamientarians which can be found at <a href="https://pmocl.popit.mysociety.org/">https://pmocl.popit.mysociety.org/</a> it's API is something similar <a href="https://pmocl.popit.mysociety.org/api/v0.1">https://pmocl.popit.mysociety.org/api/v0.1</a></p>
  	<h3>Accessing the API and using WriteIt through the API</h3>
  	WriteIt has several endpoints and some of the most interesting ones are:
	<ul>
		<li>Messages <a href="https://gist.github.com/lfalvarez/b9506f54037e9ceaa823">Specification</a></li>
		<li>Instances</li>
		<li>Answer Creation</li>
		<li>Person Listing</li>
	</ul>
  </div>
</div>
{% endblock content %}
