{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}
  <ul class="navigation__list">
    <li class="{% if section == 'writeitinstance_basic_update' %}active{% endif %}"><a href="{% url 'writeitinstance_basic_update' subdomain=writeitinstance.slug %}">
      <i class="fa fa-info-circle"></i> 
      {% trans "About your site" %}
    </a></li>
    <li class="{% if section == 'contacts-per-writeitinstance' %}active{% endif %}"><a href="{% url 'contacts-per-writeitinstance' subdomain=writeitinstance.slug %}">
      <i class="fa fa-user"></i> 
      {% trans "Recipients" %}
    </a></li>
    
    <li class="{% if section == 'messages_per_writeitinstance' %}active{% endif %}"><a href="{% url 'messages_per_writeitinstance' subdomain=writeitinstance.slug %}">
      <i class="fa fa-envelope-o"></i> 
      {% trans "Messages" %}
    </a></li>
    <li class="{% if section == 'relate-writeit-popit' %}active{% endif %}"><a href="{% url 'relate-writeit-popit' subdomain=writeitinstance.slug %}">
      <i class="fa fa-database"></i> 
      {% trans "Data sources" %}
    </a></li>
    <li class="{% if section == 'writeitinstance_template_update' %}active{% endif %}"><a href="{% url 'writeitinstance_template_update' subdomain=writeitinstance.slug %}">
      <i class="fa fa-file"></i> 
      {% trans "Templates" %}
    </a></li>
    <li class="{% if section == 'writeitinstance_api_docs' %}active{% endif %}"><a href="{% url 'writeitinstance_api_docs' subdomain=writeitinstance.slug %}">
      <i class="fa fa-plug"></i> 
      {% trans "API" %}
    </a></li>
    <li class="{% if section == 'stats' %}active{% endif %}"><a href="{% url 'stats' subdomain=writeitinstance.slug %}">
      <i class="fa fa-area-chart"></i> 
      {% trans "Stats" %}
    </a></li>
  </ul>
