{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}

{% block extrajs %}
{% endblock extrajs %}


{% block extrascripts %}

{% endblock extrascripts %}

{% block header %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' subdomain=None %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'account' subdomain=None %}">{% trans "Your profile" %}</a></li>
    <li><a href="{% url 'your-instances' subdomain=None %}">{% trans "Your instances" %}</a></li>
    <li><a href="{% url 'writeitinstance_basic_update' subdomain=message.writeitinstance.slug %}">{{ message.writeitinstance }}</a></li>
    <li><a href="{% url 'messages_per_writeitinstance' subdomain=message.writeitinstance.slug %}">{% trans "Messages" %}</a></li>
    <li class="active">{{ message }}</li>
</ul>
{% endblock header %}

{% block content %}
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row">

  	<dl class="dl-horizontal">
	  <dt>{% trans "Subject" %}</dt>
	  <dd>{{ message.subject|linebreaksbr }}</dd>
	  <dt>{% trans "Content" %}</dt>
	  <dd>{{ message.content|linebreaksbr }}</dd>
	  <dt>{% trans "Author" %}</dt>
	  <dd>{{ message.author_name }}</dd>
          <dt>{% trans "Recipients" %}</dt>
          <dd>
            {% for person in message.people %}
              <a class="label label-default" title="{% blocktrans with person_name=person.name %}See all messages sent to {{ person_name }}{% endblocktrans %}" href='{% url 'thread_to' pk=person.pk %}'>{{ person.name }}</a>
            {% endfor %}
          </dd>
	  <dt>{% trans "Confirmed" %}</dt>
	  <dd><i class="fa {% if message.confirmated %}fa-check{% else %}fa-times{% endif %}"></i></dd>
	  {% if message.writeitinstance.config.moderation_needed_in_all_messages %}
	  	<dt>{% trans "Moderated" %}</dt>
        <dd><i class="fa {% if message.moderated %}fa-check{% else %}fa-times{% endif %}"></i></dd>
      {% endif %}
	  <dt>{% trans "Public" %}</dt>
	  <dd><i class="fa {% if message.public %}fa-check{% else %}fa-times{% endif %}"></i></dd>
	  {% if message.public %}
	  <dt>{% trans "Link" %}</dt>
	  <dd><a href="{% url 'thread_read' slug=message.slug subdomain=message.writeitinstance.slug %}"><i class="fa fa-link"></i> {% trans "Public page" %}</a></dd>
	  {% endif %}
	  <dt>{% trans "Creation Date" %}</dt>
	  <dd>{{ message.created|date }}</dd>
	</dl>

	<div class="col-md-4">
          {% if message.writeitinstance.config.can_create_answer %}
          <button class="btn btn-primary" data-toggle="modal" data-target="#editAnswer" class="editAnswer" href="{% url 'create_answer' subdomain=message.writeitinstance.slug pk=message.pk %}"><i class="fa fa-plus"></i> {% trans "Create an answer" %}</button>
          {% endif %}
	</div>

	<div class="col-md-8">
		<table class="table">
		  <tr>
		  	<th>{% trans "Person" %}</th>
		  	<th>{% trans "Content" %}</th>
		  	<th>{% trans "Actions" %}</th>
		  </tr>
		  {% for answer in message.answers.all %}
			  <tr>
			  	<td>{{answer.person}}</td>
			  	<td>{{answer.content|truncatechars:50|linebreaksbr}}</td>
			  	<td><a data-toggle="modal" data-target="#updateAnswer-{{answer.id}}"  href="{% url 'update_answer' subdomain=message.writeitinstance.slug message_pk=message.pk pk=answer.pk %}" alt="{% trans 'Edit Answer' %}"><i class="fa fa-pencil"></i> </a></td>
			  </tr>

			  	<div class="modal fade" id="updateAnswer-{{answer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content b-color">
				    </div>
				  </div>
				</div>
		  {% endfor %}
		</table>
	</div>
</div>
</div>

<div class="modal fade" id="editAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content b-color">
    </div>
  </div>
</div>
<div class="modal fade" id="updateAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content b-color">
    </div>
  </div>
</div>

{% endblock content %}
