{% load i18n %}
{% load staticfiles %}
<div class="modal-dialog modal-lg">
    <div class="modal-content b-color">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">{% blocktrans with message=message.subject|linebreaksbr %}Do you confirm deleting "{{ message }}"?{% endblocktrans %}</h4>
</div>
<div class="modal-body">
  	<dl class="dl-horizontal">
	  <dt>{% trans "Subject" %}</dt>
	  <dd>{{ message.subject|linebreaksbr }}</dd>
	  <dt>{% trans "Content" %}</dt>
	  <dd>{{ message.content|linebreaksbr }}</dd>
	  <dt>{% trans "Author" %}</dt>
	  <dd>{{ message.author_name }}</dd>
	  <dt>{% trans "Confirmed" %}</dt>
	  <dd><i class="fa {% if message.confirmated %}fa-check{% else %}fa-times{% endif %}"></i></dd>
	  {% if writeitinstance.moderation_needed_in_all_messages %}
	  	<dt>{% trans "Moderated" %}</dt>
        <dd><i class="fa {% if message.moderated %}fa-check{% else %}fa-times{% endif %}"></i></dd>
      {% endif %}
	  <dt>{% trans "Public" %}</dt>
	  <dd><i class="fa {% if message.public %}fa-check{% else %}fa-times{% endif %}"></i></dd>
	  {% if message.public %}
	  <dt>{% trans "Link" %}</dt>
	  <dd><a href="{% url 'message_detail' slug=message.slug instance_slug=message.writeitinstance.slug %}"><i class="fa fa-link"></i> {% trans "Public page" %}</a></dd>
	  {% endif %}
	  <dt>{% trans "Creation Date" %}</dt>
	  <dd>{{ message.created|date }}</dd>
	</dl>

	<table class="table">
	  <tr>
	  	<th>{% trans "Person" %}</th>
	  	<th>{% trans "Content" %}</th>
	  	<th></th>
	  </tr>
	  {% for answer in message.answers.all %}
		  <tr>
		  	<td>{{answer.person}}</td>
		  	<td>{{answer.content|truncatechars:50|linebreaksbr}}</td>
		  	<td></td>
		  </tr>
	  {% endfor %}
	</table>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-warning" onClick='deleteMessage(this)' href="{% url 'message_delete' pk=message.pk %}">{% trans "Delete" %}</button>
      </div>
</div>
</div>
<script type="text/javascript">
function deleteMessage(button){
	$.post($(button).attr('href'), function(){
		$('#confirmDelete').modal('hide')
		window.location = "{% url 'messages_per_writeitinstance' pk=message.writeitinstance.pk %}"
	})
}
</script>