{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% block extrajs %}
{% endblock extrajs %}






{% block header %}
{% include 'nuntium/profiles/breadcrumbs.html' with writeitinstance=writeitinstance %}

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='messages_per_writeitinstance' %}

{% endblock header %}

{% block content %}

<!-- Tab panes -->
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row">
    {% autopaginate writeit_messages %}

    <div class="col-md-12">
      {% paginate %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Subject" %}</th>
            <th>{% trans "Content" %}</th>
            <th>{% trans "Public?" %}</th>
            <th>{% trans "Confirmed" %}</th>
            {% if writeitinstance.config.moderation_needed_in_all_messages %}
            	<th>{% trans "Moderated" %}</th>

            {% endif %}
            <th>{% trans "Details" %}</th>
            <th>{% trans "Public link" %}</th>
            <th>{% trans "Answers"%}</th>
            <th>{% trans "Delete"%}</th>
          </tr>
        </thead>
        <tbody>
          {% for message in writeit_messages %}
          <tr>
            <td>{{ message.subject }}</td>
            <td>{{ message.content|truncatechars:50|linebreaksbr }}</td>
            <td><div class="explanation"  data-toggle="tooltip" data-placement="left" title="{% if message.public %}{% trans 'This message can be seen by everyone' %}{% else %}{% trans 'TThis message can be seen by you only' %}{% endif %}"><i class="fa {% if message.public %}fa-eye{% else %}fa-eye-slash{% endif %}"></i></div></td>
            <td><div class="explanation"  data-toggle="tooltip" data-placement="left" title="{% if message.confirmated %}{% trans 'The author of this email has confirmed that this was sent from her/his email' %}{% else %}{% trans 'The author of this email has not  confirmed that this was sent from her/his email' %}{% endif %}"><i class="fa {% if message.confirmated %}fa-check-circle-o{% else %}fa-times-circle-o{% endif %}"></i></div></td>
            {% if writeitinstance.config.moderation_needed_in_all_messages %}
              {% if message.moderated %}
              <td><div class="explanation"  data-toggle="tooltip" data-placement="left" title="{% trans 'This message has been moderated' %}"><i class="fa fa-check-circle-o"></i></div></td>
              {% else %}
              <td><div class="explanation"  data-toggle="tooltip" data-placement="left" title="{% trans 'This message has not been moderated and you can moderate it by clicking here' %}"><i class="fa fa-times-circle-o"></i> <a class="moderate" href="{% url 'moderate_message' pk=message.pk %}">{% trans "Moderate"%}</a></div></td>
              {% endif %}

            {% endif %}
            <td><a href="{% url 'message_detail' pk=message.pk %}"><i class="fa fa-cogs"></i></a></td>

            <td>
              {% if message.public %}
              <a target="_blank" href="{% url 'message_detail' slug=message.slug instance_slug=writeitinstance.slug %}"><i class="fa fa-link"></i></a>
              {% endif %}
            </td>
            <td>
              {% blocktrans count answer_count=message.answers.count %}
                {{ answer_count }} answer
              {% plural %}
                {{ answer_count }} answers
              {% endblocktrans %}
              <a data-toggle="modal" data-target="#modal" href="{% url 'create_answer' pk=message.pk %}" alt="{% trans "Add"%}"><i class="fa fa-plus"></i></a>
            </td>
            <td><a data-toggle="modal" data-target="#modal" class="deleteMessage" href="{% url 'message_delete' pk=message.pk %}"><i class="fa fa-times"></i></a></td>

          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">{% trans "You have no messages" %}</td></tr>
          {% endfor %}
        </tbody>
      </table>
      {% paginate %}
    </div>

  </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content b-color">
    </div>
  </div>
</div>
<script type="text/javascript">
$('.explanation').tooltip({})
$(function(){
  $('.moderate').click(function(event){
    event.preventDefault();
    var url = $(event.target).attr('href');
    $.post(url, function(data){
      location.reload();
    })

  })
})

</script>
{% endblock content %}
