{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}
{% load nuntium_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% block extrajs %}
{% endblock extrajs %}


{% block extrascripts %}

{% endblock extrascripts %}

{% block content %}
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row">

  	<dl class="dl-horizontal">
	  <dt>{% trans "Subject" %}</dt>
	  <dd>{{ message.subject|linebreaksbr }}</dd>
	  <dt>{% trans "Author" %}</dt>
	  <dd><a href="{% url 'all-messages-from-the-same-author-as' message_slug=message.slug %}">{{ message.author_name }} &lt;{{ message.author_email }}&gt;</a></dd>
          <dt>{% trans "Recipients" %}</dt>
          <dd>
            {% for person in message.people %}{% if not forloop.first and forloop.last %} and {% elif not forloop.first %}, {% endif %}<a class="label label-default" title="{% blocktrans with person_name=person.name %}See all messages sent to {{ person_name }}{% endblocktrans %}" href='{% url 'thread_to' pk=person.pk %}'>{{ person.name }}</a>{% endfor %}
          </dd>
	  <dt>{% trans "Confirmed" %}</dt>
	  <dd><i class="fa {% if message.confirmated %}fa-check{% else %}fa-times{% endif %}"></i></dd>

	  {% if message.writeitinstance.config.moderation_needed_in_all_messages %}
	  	<dt>{% trans "Moderated" %}</dt>
        {% if message.confirmated %}
          {% if message.moderated %}
            <dd><i class="fa fa-check"></i></dd>
          {% else %}
            <dd>
               <form  class="explanation"  data-toggle="tooltip" data-placement="left" title="{% trans 'This message has not yet been moderated — click here to accept it' %}" action="{% url 'accept_message' pk=message.pk %}" method="post">{% csrf_token %} <button class="btn btn-default btn-sm moderate">{% trans "Accept"%}</button>
               </form>
               <form  class="explanation"  data-toggle="tooltip" data-placement="right" title="{% trans 'This message has not yet been moderated — click here to reject it' %}" action="{% url 'reject_message' pk=message.pk %}" method="post">{% csrf_token %} <button class="btn btn-default btn-sm moderate">{% trans "Reject"%}</button>
               </form>
            </dd>
          {% endif %}
        {% else %}
          <dd>{% trans "Not applicable; the message not yet been confirmed by the sender" %}</dd>
        {% endif %}
      {% endif %}

	  {% if message.public %}
	  <dt>{% trans "Link" %}</dt>
	  <dd><a href="{% url 'thread_read' slug=message.slug subdomain=message.writeitinstance.slug %}"><i class="fa fa-link"></i> {% trans "Public page" %}</a></dd>
	  {% endif %}
	  <dt>{% trans "Creation Date" %}</dt>
	  <dd>{{ message.created|localize_datetime:LANGUAGE_CODE }}</dd>
      <dt>{% trans "Content" %}</dt>
      <dd>{{ message.content|linebreaksbr }}</dd>
	</dl>

	<div class="col-md-4">
          {% if message.writeitinstance.config.can_create_answer %}
          <button class="btn btn-primary" data-toggle="modal" data-target="#editAnswer" class="editAnswer" href="{% url 'create_answer' subdomain=message.writeitinstance.slug pk=message.pk %}"><i class="fa fa-plus"></i> {% trans "Create a reply" %}</button>
          {% endif %}
	</div>

	<div class="col-md-8">
        <h3>Replies</h3>
        {% if message.answers.exists %}
		<table class="table">
		  <tr>
		  	<th>{% trans "Person" %}</th>
		  	<th>{% trans "Content" %}</th>
		  	<th>{% trans "Actions" %}</th>
		  </tr>
		  {% for answer in message.answers.all %}
			  <tr>
			  	<td>{{answer.person}}</td>
			  	<td>{{answer.content|truncatechars:50|linebreaksbr}}</td>
			  	<td><a data-toggle="modal" data-target="#updateAnswer-{{answer.id}}"  href="{% url 'update_answer' subdomain=message.writeitinstance.slug message_pk=message.pk pk=answer.pk %}" alt="{% trans 'Edit reply' %}"><i class="fa fa-pencil"></i> </a></td>
			  </tr>

			  	<div class="modal fade" id="updateAnswer-{{answer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content b-color">
				    </div>
				  </div>
				</div>
		  {% endfor %}
		</table>
        {% else %}
            <p>There are no replies yet.</p>
        {% endif %}
	</div>
</div>
</div>

<div class="modal fade" id="editAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content b-color">
    </div>
  </div>
</div>
<div class="modal fade" id="updateAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content b-color">
    </div>
  </div>
</div>

{% endblock content %}


