{% load i18n %}
{% load staticfiles %}

<ul class="nav nav-tabs">
  <li class="{% if section == 'writeitinstance_basic_update' %}active{% endif %}"><a href="{% url 'writeitinstance_basic_update' slug=writeitinstance.slug %}">{% trans "Basic Update" %}</a></li>
  <li class="{% if section == 'writeitinstance_advanced_update' %}active{% endif %}"><a href="{% url 'writeitinstance_advanced_update' slug=writeitinstance.slug %}">{% trans "Advanced Update" %}</a></li>
  <li class="{% if section == 'writeitinstance_template_update' %}active{% endif %}"><a href="{% url 'writeitinstance_template_update' pk=writeitinstance.pk %}">{% trans "Templates" %}</a></li>
  <li class="{% if section == 'contacts-per-writeitinstance' %}active{% endif %}"><a href="{% url 'contacts-per-writeitinstance' pk=writeitinstance.pk %}">{% trans "Contacts" %}</a></li>
  <li class="{% if section == 'messages_per_writeitinstance' %}active{% endif %}"><a href="{% url 'messages_per_writeitinstance' pk=writeitinstance.pk %}">{% trans "Messages" %}</a></li>
  <li class="{% if section == 'relate-writeit-popit' %}active{% endif %}"><a href="{% url 'relate-writeit-popit' pk=writeitinstance.pk %}">{% trans "Popit instances" %}</a></li>
  <li class="{% if section == 'writeitinstance_api_docs' %}active{% endif %}"><a href="{% url 'writeitinstance_api_docs' pk=writeitinstance.pk %}">{% trans "API" %}</a></li>
  <li class="{% if section == 'stats' %}active{% endif %}"><a href="{% url 'stats' pk=writeitinstance.pk %}">{% trans "Stats" %}</a></li>
</ul>

{% for rec in writeitinstance.writeitinstancepopitinstancerecord_set.all %}
    {% if rec.status == 'inprogress' %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans with url=rec.popitapiinstance.url %}
            Currently we are pulling people from {{ url }}
            {% endblocktrans %}
        </div>
    {% endif %}
{% endfor %}
{% if writeitinstance.config.testing_mode %}
  <div class="alert alert-info" role="alert">

      <a href="{% url 'writeitinstance_advanced_update' slug=writeitinstance.slug %}">{% blocktrans %}
      <i class="fa fa-info-circle"></i> This instance is in testing mode which means that all mails will go to you.
      {% endblocktrans %}</a>
  </div>
{% endif %}
