{% load i18n %}
{% load staticfiles %}
<nav role="navigation" class="sidebar__navigation">
  <ul class="navigation__list">
      <li{% if section == 'account' %} class="active"{% endif %}><a href="{% url 'account' %}">{% trans "Your Profile" %}</a></li>
  <li{% if section == 'your-instances' %} class="active"{% endif %}><a href="{% url 'your-instances' %}">{% trans "Your instances" %}</a></li>
  <li{% if section == 'docs' %} class="active"{% endif %}><a href="{% url 'user_section_documentation' %}">{% trans "Documentation" %}</a></li>
  </ul>
</nav>
