{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}

{% if writeitinstance.config.testing_mode %}
  <div class="alert alert-info" role="alert">
      <a href="{% url 'writeitinstance_basic_update' subdomain=writeitinstance.slug %}">
      <i class="fa fa-info-circle"></i> 
      {% blocktrans %}
        This instance is in testing mode. 
        All mails will be sent to you, rather than the representatives.
      {% endblocktrans %}</a>
  </div>
{% endif %}

{% for rec in writeitinstance.writeitinstancepopitinstancerecord_set.all %}
    {% if rec.status == 'inprogress' %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans with url=rec.popitapiinstance.url %}
            Currently we are pulling people from {{ url }}
            {% endblocktrans %}
        </div>
    {% endif %}
{% endfor %}

{% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fa fa-info-circle"></i> {{ message }}</p>
    {% endfor %}
  </div>
{% endif %}
