{% load i18n %}
{% load staticfiles %}
{% load nuntium_tags %}

{% if writeitinstance.config.testing_mode %}
  <div class="alert alert-info" role="alert">
      <i class="fa fa-info-circle"></i> 
      {% url 'welcome' as welcome_page %}
      {% assignment_url_with_subdomain 'contact_us' subdomain=None as contact_page %}
      {% blocktrans %}
        This site is in <a href="{{ welcome_page }}">testing mode.</a>
        All mails will be sent to you, rather than the representatives.
        <a href="{{ contact_page }}">Contact us</a> when you're ready to go live!
      {% endblocktrans %}
  </div>
{% endif %}

{% for rec in writeitinstance.writeitinstancepopitinstancerecord_set.all %}
    {% if rec.status == 'inprogress' %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans with url=rec.popolo_source.url %}
            Currently we are pulling people from {{ url }}
            {% endblocktrans %}
        </div>
    {% endif %}
{% endfor %}

{% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fa fa-info-circle"></i> {{ message }}</p>
    {% endfor %}
  </div>
{% endif %}
