{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}
{% include 'nuntium/profiles/breadcrumbs.html' with writeitinstance=writeitinstance %}

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='writeitinstance_template_update' %}

{% endblock header %}

{% block content %}


    <div class="page-header">
        <h2>{% trans "Templates"  %}</h2>
    </div>

    <h3>{% trans "Mail Template" %}</h3>
    <h4>{% trans "This is the mail template that the person gets when a new message exists" %}</h4>

    <form class="template-update" role="form" action="{% url 'mailit-template-update' subdomain=writeitinstance.slug %}" method="post">

        {{ mailit_template_form.as_p }}
        <div class="save-bar">
          <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
        </div>

      {% csrf_token %}

    <h3>{% trans "Confirmation Template" %}</h3>
    <h4>{% trans "This is the mail template that the person who creates a message gets in order to confirm their email" %}</h4>

    <form class="template-update" role="form" action="{% url 'edit_confirmation_template' subdomain=writeitinstance.slug %}" method="post">

        {{ confirmation_template_form.as_p }}
        <div class="save-bar">
          <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
        </div>

      {% csrf_token %}
    </form>

    <h3>{% trans "New answer notification template" %}</h3>
    <h4>{% trans "When a new answer comes in it will notify all the subscribers with this template" %}</h4>
    <form class="template-update" role="form" action="{% url 'edit_new_answer_notification_template' subdomain=writeitinstance.slug %}" method="post">

        {{ new_answer_template_form.as_p }}
        <div class="save-bar">
          <input type="submit" class='btn btn-primary' value="{% trans 'Save changes' %}" />
      </div>

      {% csrf_token %}
    </form>
{% endblock content %}
