{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}
{% include 'nuntium/profiles/breadcrumbs.html' with writeitinstance=writeitinstance %}

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='writeitinstance_template_update' %}

{% endblock header %}

{% block content %}
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row" id="instances">


<div class="tab-content">
  <div class="tab-pane active" id="basic-update">
    <div class="page-header">
        <h2>{% blocktrans with writeitinstance=writeitinstance %}Editing {{ writeitinstance }}{% endblocktrans %}</h2>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-6">
          <h3>{% trans "Mail Template" %}</h3>
          <h4>{% trans "This is the mail template that the person gets when a new message exists" %}</h4>

          <form class="template-update" role="form" action="{% url 'mailit-template-update' slug=writeitinstance.slug %}" method="post">
            
              {{ mailit_template_form.as_p }}
              <input type="button" onclick="javascript:history.back();" class='btn btn-default' value="{% trans 'Cancel' %}" />
              <input type="submit" class='btn btn-primary' value="{% trans 'Update' %}" />
            
            {% csrf_token %}
          </form>
        </div>
        <div class="col-md-6">
          <h3>{% trans "Confirmation Template" %}</h3>
          <h4>{% trans "This is the mail template that the person who creates a message gets in order to confirm their email" %}</h4>

          <form class="template-update" role="form" action="{% url 'edit_confirmation_template' slug=writeitinstance.slug %}" method="post">
            
              {{ confirmation_template_form.as_p }}
              <input type="button" onclick="javascript:history.back();" class='btn btn-default' value="{% trans 'Cancel' %}" />
              <input type="submit" class='btn btn-primary' value="{% trans 'Update' %}" />
            
            {% csrf_token %}
          </form>
        </div>

        <div class="col-md-6">
          <h3>{% trans "New answer notification template" %}</h3>
          <h4>{% trans "When a new answer comes in it will notify all the subscribers with this template" %}</h4>
          <form class="template-update" role="form" action="{% url 'edit_new_answer_notification_template' slug=writeitinstance.slug %}" method="post">
            
              {{ new_answer_template_form.as_p }}
              <input type="button" onclick="javascript:history.back();" class='btn btn-default' value="{% trans 'Cancel' %}" />
              <input type="submit" class='btn btn-primary' value="{% trans 'Update' %}" />
            
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="tab-pane" id="webhooks">I'm not implemented</div>
  <div class="tab-pane" id="advanced-update">I'm not implemented</div>
  <div class="tab-pane" id="templates">I'm not implemented</div>
  <div class="tab-pane" id="nothing"><a href="https://s3-sa-east-1.amazonaws.com/candideitstatic/fiera_trabajando.jpg">Really nothing, don't click!</a></div> -->
</div>


</div>
</div>


{% endblock content %}
