{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'account' %}">{% trans "Your profile" %}</a></li>
    <li><a href="{% url 'your-instances' %}">{% trans "Your instances" %}</a></li>
    <li class="active">{{ writeitinstance }}</li>
</ul>

<ul class="nav nav-tabs">
  <li class=""><a href="{% url 'writeitinstance_basic_update' pk=writeitinstance.pk %}">{% trans "Basic Update" %}</a></li>
  <li class=""><a href="{% url 'writeitinstance_advanced_update' pk=writeitinstance.pk %}">{% trans "Advanced Update" %}</a></li>
  <li class="active"><a href="{% url 'writeitinstance_template_update' pk=writeitinstance.pk %}">{% trans "Templates" %}</a></li>
  <li class=""><a href="{% url 'messages_per_writeitinstance' pk=writeitinstance.pk %}">{% trans "Messages" %}</a></li>
  <!-- 
  <li><a href="#templates" data-toggle="tab">{% trans "Templates" %}</a></li>
  <li><a href="#nothing" data-toggle="tab">{% trans "Nothing" %}</a></li> -->
</ul>
{% endblock header %}

{% block content %}

<div class="tab-content">
  <div class="tab-pane active" id="basic-update">
    <div class="page-header">
        <h2>{% blocktrans with writeitinstance=writeitinstance %}Editing {{ writeitinstance }}{% endblocktrans %}</h2>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-6">
          <h3>{% trans "Mail Template" %}</h3>
          <h4>{% trans "This is the mail template that the person gets when a new message exists" %}</h4>

          <form class="template-update" role="form" action="{% url 'mailit-template-update' pk=writeitinstance.pk %}" method="post">
            
              {{ mailit_template_form.as_p }}
              <input type="button" onclick="javascript:history.back();" class='btn btn-default' value="{% trans 'Cancel' %}" />
              <input type="submit" class='btn btn-primary' value="{% trans 'Update' %}" />
            
            {% csrf_token %}
          </form>
        </div>
        <div class="col-md-6">
          <h3>{% trans "Confirmation Template" %}</h3>
          <h4>{% trans "This is the mail template that the person who creates a message gets in order to confirm their email" %}</h4>

          <form class="template-update" role="form" action="{% url 'edit_confirmation_template' pk=writeitinstance.pk %}" method="post">
            
              {{ confirmation_template_form.as_p }}
              <input type="button" onclick="javascript:history.back();" class='btn btn-default' value="{% trans 'Cancel' %}" />
              <input type="submit" class='btn btn-primary' value="{% trans 'Update' %}" />
            
            {% csrf_token %}
          </form>
        </div>

        <div class="col-md-6">
          <h3>{% trans "New answer notification template" %}</h3>
          <h4>{% trans "When a new answer comes in it will notify all the subscribers with this template" %}</h4>
          <form class="template-update" role="form" action="{% url 'edit_new_answer_notification_template' pk=writeitinstance.pk %}" method="post">
            
              {{ new_answer_template_form.as_p }}
              <input type="button" onclick="javascript:history.back();" class='btn btn-default' value="{% trans 'Cancel' %}" />
              <input type="submit" class='btn btn-primary' value="{% trans 'Update' %}" />
            
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="tab-pane" id="webhooks">I'm not implemented</div>
  <div class="tab-pane" id="advanced-update">I'm not implemented</div>
  <div class="tab-pane" id="templates">I'm not implemented</div>
  <div class="tab-pane" id="nothing"><a href="https://s3-sa-east-1.amazonaws.com/candideitstatic/fiera_trabajando.jpg">Really nothing, don't click!</a></div> -->
</div>





{% endblock content %}
