{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}

{% block extrajs %}
{% endblock extrajs %}


{% block extrascripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock extrascripts %}


{% block header %}
{% include 'nuntium/profiles/top_menu.html' with section='account' %}
{% endblock header %}

{% block content %}
    <div class="page-header">
      <h2>{% trans "Webhooks" %}</h2>
    </div>
    {% for webhook in writeitinstance.answer_webhooks.all %}
    <ul class="list-of-webhooks">
      <li class="list-of-webhooks__webhook">
        <h3 class="webhook__url">{{ webhook.url }}</h3>
      </li>
    </ul>
    {% empty %}
    {% trans 'There are no webhooks yet.' %}
    {% endfor %}
    <div class="add-new-data-source">
    <form action="{% url 'writeitinstance_create_webhooks' subdomain=writeitinstance.slug %}" method="POST" role="form">
    <h3>{% trans "Add a new Webhook" %}</h3>
      {% csrf_token %}
      <div class="form-element">
        <div class="form-inline">
          <p>{{ form.non_field_errors.as_text }}</p>
          {{ form.url.label_tag }}
          {{ form.url }}
          <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
        </div>
      </div>
    </form>
  </div>
{% endblock content%}
