{% extends "base_manager.html" %}
{% load i18n %}

{% block header %}
{% include 'nuntium/profiles/top_menu.html' with section='your-instances' %}
{% endblock header %}

{% block content %}

{% if messages %}
<div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div class="page-header">
    <h2>{% trans "Welcome" %}</h2>
</div>

<p>{% trans "Write to your representative etc." %}</p>

{% endblock content%}
