{% extends "base_manager.html" %}
{% load i18n %}

{% block content %}

<div class="page-header">
    <h2>
       {% blocktrans with name=writeitinstance.name %}
         Welcome! This is {{ name }}
       {% endblocktrans %}
    </h2>
</div>

<p>
  {% blocktrans with name=writeitinstance.name %}
    This is your &ldquo;{{name}}&rdquo; message-sending site.
  {% endblocktrans %}
</p>
<p>
  {% if writeitinstance.persons.count %}
    {% blocktrans count qty_pers=writeitinstance.persons.count %}
      You've got only one recipient in your database.
    {% plural %}
      You've got {{ qty_pers }} recipients in your database.
    {% endblocktrans %}
  {% else %}
    {% blocktrans %}
      There aren't any recipients in your database &mdash; you need to get
      some in there before anyone can send any messages!
      <br>
      Has your data source got recipients in it? Has it loaded OK?
    {% endblocktrans %}
  {% endif %}
</p>
<p>
  {% blocktrans %}
     Here are the things you need to check you've done before everything will work properly.
  {% endblocktrans %}
</p>
<ul>
  <li>
    <p>
      {% if writeitinstance.description %}
        {% blocktrans with desc=writeitinstance.description %}
          <a href="{{ url_basic_update }}">change the description</a>
          (which is &ldquo;{{ desc }}&rdquo;)
        {% endblocktrans %}
      {% else %}
        {% blocktrans with desc=writeitinstance.description %}
          <a href="{{ url_basic_update }}">set the description</a>
        {% endblocktrans %}
      {% endif %}
    </p>
  </li>
  <li>
    <p>
      {% blocktrans %}
        <a href="{{ url_template }}">update the email templates</a> so the
        messages your site sends out are exactly how you want them
      {% endblocktrans %}
    </p>
  </li>
  <li>
    <p>
      {% blocktrans %}
        pick the right options for things like:
      {% endblocktrans %}
    </p>
    <ul>
      <li>
        <p>
          {% blocktrans %}
            are you running in test mode (which sends every message to you
            instead of the recipients)
          {% endblocktrans %}
        </p>
      </li>
      <li>
        <p>
          {% blocktrans %}
            how many recipients a message can go to (just one, or many?)
          {% endblocktrans %}
        </p>
      </li>
      <li>
        <p>
          {% blocktrans %}
            how often to check for new data (which really means: do you
            expect the data source to change?)
          {% endblocktrans %}
        </p>
      </li>
    </ul>
  </li>
</ul>

{% endblock content%}
