{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'account' %}">{% trans "Your profile" %}</a></li>
    <li><a href="{% url 'your-instances' %}">{% trans "Your instances" %}</a></li>
    <li class="active">{{ writeitinstance }}</li>
</ul>

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='relate-writeit-popit' %}

{% endblock header %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="relate" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans 'Relate a new popit api to this Instance' %}</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'relate-writeit-popit' pk=writeitinstance.pk %}" method="POST" role="form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}


<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row" id="instances">

    <div class="col-md-4">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#relate">
        {% trans 'Relate a new popit api to this Instance' %}
      </button>
    </div>
    <div class="col-md-8">
      <table>
        <thead>
          <tr>
            <th>
              {% trans 'Your popit apis and the writeit instances they are related to' %}
            </th>
            <th>
              {% trans 'When they were created' %}
            </th>
            <th>
              {% trans 'When they were last updated' %}
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for record in writeitinstance.writeitinstancepopitinstancerecord_set.all %}
            <tr>
              <td>{{ record }}</td>
              <td>{{ record.created }}</td>
              <td>{{ record.updated }}</td>
            </tr>
          {% endfor %}
        </table>
      </tbody>
    </div>
  </div>

</div>


{% endblock content %}