{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}
{% load pagination_tags %}


{% block extrascripts %}
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
{% endblock extrascripts %}

{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}
{% include 'nuntium/profiles/per_instance_top_menu.html' with section='relate-writeit-popit' %}
{% endblock header %}

{% block content %}

  <div class="page-header">
    <h2>{% trans "Data Sources" %}</h2>
  </div>

      {% autopaginate relations %}
      {% paginate %}
        {% for record in relations %}
          <ul class="list-of-data-sources">
            <li class="list-of-data-sources__data-source">
              <h3 class="data-source__title"><a href="{{ record.popolo_source.url }}">{{ record.popolo_source.url }}</a></h3>
              <p class="data-source__info"><i class="data-source__status-indicator data-source__status-indicator--{{ record.status }}"></i>{{ record.status }} 
                  {% if record.status_explanation %}({{ record.status_explanation }}){% endif %}
                  <span class="muted">&mdash; last updated {{ record.updated }} 
                    {% if record.periodicity == "--" %}{% trans 'Never automatically updates.' %}
                    {% elif record.periodicity == "2D" %}{% trans 'Updates twice a day.' %}
                    {% elif record.periodicity == "1D" %}{% trans 'Updates daily.' %}
                    {% elif record.periodicity == "1W" %}{% trans 'Updates weekly.' %}
                    {% endif %}
                  </span>
              </p>
              <div class="data-source__controls">
                <ul>
                  <li><a data-toggle="collapse" href="#collapseExample-{{ record.pk }}" aria-expanded="false" aria-controls="collapseExample">{% trans 'Edit' %}</a></li>
                </ul>
              </div>
              <div class="collapse data-source__edit" id="collapseExample-{{ record.pk }}">
                <div class="well">
                  <h3>{% trans 'Polling interval' %}</h3>
                  <form class="form-inline update-popit-form" action="{% url 'update-popit-writeit-relation' subdomain=record.writeitinstance.slug pk=record.pk %}" method='POST'>
                    <div class="form-group">
                      <label for="polling-interval-select-{{ record.pk }}">{% trans 'Fetch new data from this source' %}</label>
                      <select class="form-control" id="polling-interval-select-{{ record.pk }}" name="periodicity">
                        <option value="--" {% if record.periodicity == "--" %}selected{% endif %}>{% trans 'Never' %}</option>
                        <option value="2D" {% if record.periodicity == "2D" %}selected{% endif %}>{% trans 'Twice a day' %}</option>
                        <option value="1D" {% if record.periodicity == "1D" %}selected{% endif %}>{% trans 'Daily' %}</option>
                        <option value="1W" {% if record.periodicity == "1W" %}selected{% endif %}>{% trans 'Weekly' %}</option>
                      </select>
                      <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    </div>
                    <div class="save-bar">
                       <button class="btn btn-default resync" href="{% url 'resync-from-popit' subdomain=record.writeitinstance.slug popolo_source_pk=record.popolo_source.pk %}"><i class="glyphicon glyphicon-refresh"></i> {% trans 'Fetch new data now' %}</button>
                    </div>
                  </form>

                </div>
              </div>
            </li>
          </ul>
        {% endfor %}
      {% paginate %}

  <div class="add-new-data-source">
    <form action="{% url 'relate-writeit-popit' subdomain=writeitinstance.slug %}" method="POST" role="form">
    <h3>{% trans "Add a new data source" %}</h3>
      {% csrf_token %}
      <div class="form-element">
        <div class="form-inline">
          <p>{{ form.non_field_errors.as_text }}</p>
          {{ form.popit_url.label_tag }}
          {{ form.popit_url }}
          <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
        </div>
      </div>
    </form>
  </div>
<script type="text/javascript">
$(function(){
  $('.resync').click(function(event){
    event.preventDefault();
    var url = $(event.target).attr('href');
    $.post(url, function(data){
      location.reload();
    })

  })
  $(document).ready(function() { 
      // bind 'myForm' and provide a simple callback function 
      $('.update-popit-form').ajaxForm({
        success: function(data){
          location.reload();
        }
      }); 
  });
})
</script>
{% endblock content %}
