{% extends "base_manager.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}


{% block extrascripts %}
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}
{% block extrajs %}
$(".chosen-person-select").chosen();
{% endblock extrajs %}

{% block header %}

{% include 'nuntium/profiles/per_instance_top_menu.html' with section='relate-writeit-popit' %}

{% endblock header %}

{% block content %}

{% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

  <div class="page-header">
    <h2>{% trans "Data Sources" %}</h2>
  </div>
  <div class="add-new-data-source">
    <form action="{% url 'relate-writeit-popit' slug=writeitinstance.slug %}" method="POST" role="form">
    <h3>{% trans "Add a new data source" %}</h3>
      {% csrf_token %}
      <div class="form-element">
        <div class="form-inline">
          {{ form.popit_url.label_tag }}
          {{ form.popit_url }}
          <button type="submit" class="btn btn-primary">{% trans 'Add' %}</button>
        </div>
      </div>
    </form>
  </div>
      {% autopaginate relations %}
      {% paginate %}
          {% for record in relations %}
            <ul class="list-of-data-sources">
              <li class="list-of-data-sources__data-source">
                <h3 class="data-source__title"><a href="{{ record.popitapiinstance.url }}">{{ record.popitapiinstance.url }}</a></h3>
                <p class="data-source__info">{{ record.status }} &mdash; last updated {{ record.updated }}</p>
                <div class="data-source__controls">
                  {% comment %}
                  <ul>
                    <li><a href="#">Edit</a></li>
                    <li><a href="#">Disconnect</a></li>
                    <li><a href="#">Delete</a></li>
                  </ul>
                  {% endcomment %}
                </div>
              </li>
            </ul>
          {% endfor %}
        </table>
        {% paginate %}
      </tbody>

{% endblock content %}
