{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% block header %}
{% include 'nuntium/profiles/top_menu.html' with section='your-instances' %}
{% endblock header %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="createNew" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans 'Create a new instance' %}</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_writeit_instance' %}" method="POST" role="form">
          {% csrf_token %}
          {{ new_instance_form.as_p }}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}


<!-- Tab panes -->
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row" id="instances">

    <div class="col-md-4">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createNew">
        {% trans 'Create a new instance' %}
      </button>
    </div>
    {% autopaginate object_list %}
    {% paginate %}
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="50%">
              {% trans 'Name' %}
            </th>
            <th>{% trans 'Link' %}</th>
            <th>{% trans 'Instance API path' %}</th>
            <th>{% trans 'See all the messages' %}</th>
            <th>{% trans 'Edit' %}</th>
            <th>{% trans 'Delete' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for writeitinstance in object_list %}
          <tr>
            <td>{{ writeitinstance }} {% if writeitinstance.pulling_from_popit_status.inprogress > 0 %}<i class="fa fa-spinner fa-pulse spinner_{{ writeitinstance.pk }}" data-toggle="tooltip" data-placement="left" title="{% trans 'We are currently getting information from popit' %}"></i>
              <script type="text/javascript">
              $(function(){
                go_and_check_status_of_instance("{% url 'pulling_status' pk=writeitinstance.pk %}", "spinner_{{ writeitinstance.pk }}")
              })
              </script>
              {% endif %}
            </td>
            <td> <a target='_blank' href="{% url 'instance_detail' slug=writeitinstance.slug %}"><i class="fa fa-external-link"></i></a></td>
            <td>{% url 'api_dispatch_detail' api_name='v1' resource_name='instance' pk=writeitinstance.id %}</td>
            <td><a href="{% url 'messages_per_writeitinstance' pk=writeitinstance.pk %}"><i class="fa fa-envelope-o"></i></a></td>
            <td><a href="{% url 'writeitinstance_basic_update' slug=writeitinstance.slug %}"><i class="fa fa-pencil"></i></a></td>
            <td><a href="{% url 'delete_an_instance' pk=writeitinstance.pk %}"><i class="fa fa-times"></i></a></td>
            
          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">You have no instances</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <div class="tab-pane" id="nothing"><a href="http://github.com/ciudadanointeligente/write-it" data-toggle="tab">{% trans "please don't go any further" %}</a></div>
</div>
<script type="text/javascript">
  var go_and_check_status_of_instance = function(url, class_){
    $.get(url, function(status){

      if (status.inprogress >= 1){
        setTimeout( go_and_check_status_of_instance, 2000, url, class_)
      }
      else {
        $('.'+class_).remove()
      }
    })
  }
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>
{% endblock content%}

