{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrajs %}
$.fn.editable.defaults.mode = 'inline';
$('.contact_value').editable({
  'success' : function(response, newValue) {
      $(this).closest('li').removeClass('alert-danger', 1000 )
    }
});
{% endblock extrajs %}


{% block extrascripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock extrascripts %}


{% block header %}
<ul class="nav nav-tabs profile-page-nav">
  <li><a href="{% url 'account' %}">{% trans "Your Profile" %}</a></li>
  <li class="active"><a href="{% url 'your-instances' %}">{% trans "Your instances" %}</a></li>
  <li><a href="{% url 'your-contacts' %}">{% trans "Your contacts" %}</a></li>
</ul>
{% endblock header %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="createNew" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans 'Create a new instance' %}</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_writeit_instance' %}" method="POST" role="form">
          {% csrf_token %}
          {{ new_instance_form.as_p }}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Tab panes -->
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row" id="instances">

    <div class="col-md-4">
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createNew">
        {% trans 'Create a new instance' %}
      </button>
    </div>

    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="60%">
              {% trans 'Name' %}
            </th>
            <th>Instance API path</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for writeitinstance in object_list %}
          <tr>
            <td>{{ writeitinstance }}</td>
            <td>{% url 'api_dispatch_detail' api_name='v1' resource_name='instance' pk=writeitinstance.id %}</td>
            <td><a href="{% url 'writeitinstance_basic_update' pk=writeitinstance.pk %}"><i class="fa fa-pencil"></i> {% trans "Edit me!" %}</a></td>
          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">You have no instances</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  <div class="tab-pane" id="nothing"><a href="http://github.com/ciudadanointeligente/write-it" data-toggle="tab">{% trans "please don't go any further" %}</a></div>
</div>
{% endblock content%}
