{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}
{% load pagination_tags %}
{% block header %}
{% include 'nuntium/profiles/top_menu.html' with section='your-instances' %}
{% endblock header %}

{% block content %}

{% if messages %}
  <div class="alert alert-info" role="alert">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

      <div class="page-header">
        <h2>{% trans "Live Sites" %}</h2>
      </div>

      {% if live_sites %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="50%">{% trans 'Name' %}</th>
            <th>{% trans 'Recipients' %}</th>
            <th>{% trans 'Messages' %}</th>
            <th>{% trans 'Edit' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for writeitinstance in live_sites %}
          <tr>
            <td>
                <a target='_blank' href="{% url 'instance_detail' subdomain=writeitinstance.slug %}">{{ writeitinstance }} <i class="fa fa-external-link"></i></a>
                {% if writeitinstance.pulling_from_popit_status.inprogress > 0 %}
                    <i class="fa fa-spinner fa-pulse spinner_{{ writeitinstance.pk }}" data-toggle="tooltip" data-placement="left" title="{% trans 'We are currently getting information from popit' %}"></i>
                    <script type="text/javascript">
                    $(function(){
                        go_and_check_status_of_instance("{% url 'pulling_status' subdomain=writeitinstance.slug %}", "spinner_{{ writeitinstance.pk }}")
                    })
                    </script>
                {% endif %}
            </td>
            <td><a href="{% url 'contacts-per-writeitinstance' subdomain=writeitinstance.slug %}"><i class="fa fa-user"></i> <span class="badge">{{ writeitinstance.persons.count }}</span></a></td>
            <td><a href="{% url 'messages_per_writeitinstance' subdomain=writeitinstance.slug %}"><i class="fa fa-envelope-o"></i> <span class="badge">{{ writeitinstance.message_set.count }}</span></a></td>
            <td><a href="{% url 'writeitinstance_basic_update' subdomain=writeitinstance.slug %}"><i class="fa fa-pencil"></i></a></td>
          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">You have no sites</td></tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>You currently have no live sites.</p>
      {% endif %}

      {% if test_sites %}
      <hr />
      <div class="page-header">
        <h2>{% trans "Test Sites" %}</h2>
        <p>
            {% blocktrans count counter=test_sites.count %}
                This site is in Test Mode:
            {% plural %}
                These sites are in Test Mode:
            {% endblocktrans %}
        </p>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="50%">{% trans 'Name' %}</th>
            <th>{% trans 'Recipients' %}</th>
            <th>{% trans 'Messages' %}</th>
            <th>{% trans 'Edit' %}</th>
            <th>{% trans 'Delete' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for writeitinstance in test_sites %}
          <tr>
            <td>
                <a target='_blank' href="{% url 'instance_detail' subdomain=writeitinstance.slug %}">{{ writeitinstance }} <i class="fa fa-external-link"></i></a>
                {% if writeitinstance.pulling_from_popit_status.inprogress > 0 %}
                    <i class="fa fa-spinner fa-pulse spinner_{{ writeitinstance.pk }}" data-toggle="tooltip" data-placement="left" title="{% trans 'We are currently getting information from popit' %}"></i>
                    <script type="text/javascript">
                    $(function(){
                        go_and_check_status_of_instance("{% url 'pulling_status' subdomain=writeitinstance.slug %}", "spinner_{{ writeitinstance.pk }}")
                    })
                    </script>
                {% endif %}
            </td>
            <td><a href="{% url 'contacts-per-writeitinstance' subdomain=writeitinstance.slug %}"><i class="fa fa-user"></i> <span class="badge">{{ writeitinstance.persons.count }}</span></a></td>
            <td><a href="{% url 'messages_per_writeitinstance' subdomain=writeitinstance.slug %}"><i class="fa fa-envelope-o"></i> <span class="badge">{{ writeitinstance.message_set.count }}</span></a></td>
            <td><a href="{% url 'writeitinstance_basic_update' subdomain=writeitinstance.slug %}"><i class="fa fa-pencil"></i></a></td>
            <td><a href="{% url 'delete_an_instance' subdomain=writeitinstance.slug %}"><i class="fa fa-times"></i></a></td>
          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">You have no sites</td></tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <p class="btn btn-default"><a href="{% url 'create_writeit_instance' %}">
        {% trans 'Create a new Site' %}
      </a></p>

<script type="text/javascript">
  var go_and_check_status_of_instance = function(url, class_){
    $.get(url, function(status){
      if (status.inprogress >= 1){
        setTimeout( go_and_check_status_of_instance, 2000, url, class_)
      }
      else {
        $('.'+class_).remove()
      }
    })
  }

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })



</script>
{% endblock content%}

