{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrajs %}
$.fn.editable.defaults.mode = 'inline';
$('.contact_value').editable({
  'success' : function(response, newValue) {
      $(this).closest('li').removeClass('alert-danger', 1000 )
    }
});
$(".chosen-person-select").chosen({width: "95%"});
{% endblock extrajs %}


{% block extrascripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<link rel="stylesheet" href="{% static 'css/chosen.css' %}">
<script src="{% static 'js/chosen.jquery.min.js' %}"></script>
{% endblock extrascripts %}


{% block header %}
<ul class="nav nav-tabs profile-page-nav">
  <li><a href="{% url 'account' %}">{% trans "Your Profile" %}</a></li>
  <li><a href="{% url 'your-instances' %}">{% trans "Your instances" %}</a></li>
  <li class="active"><a href="{% url 'your-contacts' %}">{% trans "Your contacts" %}</a></li>
</ul>
{% endblock header %}

{% block content %}

<!-- Modal -->
<form method="POST" action="{% url 'create-new-contact' %}">{% csrf_token %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Add a new contact" %}</h4>
      </div>
      <div class="modal-body">
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.contact_type.errors }}
            <label for="id_subject">{{ form.contact_type.label_tag }}</label>
            {{ form.contact_type }}
        </div>
        <div class="fieldWrapper">
            {{ form.person.errors }}
            <label for="id_subject">{{ form.person.label_tag }}</label>
            {{ form.person }}
        </div>
        <div class="fieldWrapper">
            {{ form.value.errors }}
            <label for="id_subject">{{ form.value.label_tag }}</label>
            {{ form.value }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
        <input type="submit" class='btn btn-primary' value="Create" />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>


<!-- Tab panes -->
<div class="tab-content profile-page-tab-content">
  <div class="tab-pane active row" id="contacts">

    <div class="col-md-4">
      <!-- Button trigger modal -->
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        {% trans "Add a new contact" %}
      </button>
    </div>

    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Contact type</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in object_list %}
          <tr>
            <td>
              <span>
                <a href="#" class="contact_value" data-pk="{{contact.id}}" data-type="text" data-name="value" data-url="{% url 'contact_value_update' pk=contact.id %}" data-title="{% trans 'Update contact' %}">{{ contact.value }}</a>
              </span>
            </td>
            <td>{{ contact.person.name }}</td>
            <td>{{ contact.contact_type }}</td>
          </tr>
          {% empty %}
          <tr><td colspan="3" class="text-center">You have no contacts</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>




{% endblock content%}
