{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrajs %}
{% endblock extrajs %}


{% block extrascripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock extrascripts %}


{% block header %}
<ul class="nav nav-tabs profile-page-nav">
  <li class="active"><a href="{% url 'account' %}">{% trans "Your Profile" %}</a></li>
  <li><a href="{% url 'your-instances' %}">{% trans "Your instances" %}</a></li>
  <li><a href="{% url 'your-contacts' %}">{% trans "Your contacts" %}</a></li>
</ul>
{% endblock header %}

{% block content %}
<!-- Tab panes -->
<div class="tab-content profile-page-tab-content edit-profile-tab-content">
  <div class="tab-pane active" id="profile">

    <form class="form-horizontal" method="post" action="" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Username" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.username }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "First Name" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.first_name }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Last Name" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.last_name }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Email" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.email }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Api Key" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.api_key.key }}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Save profile</button>
        </div>
      </div>
      {% csrf_token %}
    </form>

  </div>
</div>
{% endblock content%}
