{% extends "base_manager.html" %}
{% load i18n %}
{% load subdomainurls %}
{% load staticfiles %}

{% block extrajs %}
{% endblock extrajs %}


{% block extrascripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock extrascripts %}


{% block header %}
{% include 'nuntium/profiles/top_menu.html' with section='account' %}
{% endblock header %}

{% block content %}
    <div class="page-header">
      <h2>{% trans "Your profile" %}</h2>
    </div>
    <form class="form-horizontal" method="post" action="" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Username" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.username }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "First Name" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.first_name }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Last Name" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.last_name }}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">{% trans "Email" %}</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ user.email }}</p>
        </div>
      </div>
      {% comment "Hiding these until there's a plan for what can be edited on this page" %}
      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Save profile</button>
        </div>
      </div>
      {% csrf_token %}
      {% endcomment %}
    </form>

{% endblock content%}
