{% extends "base_edit.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extrajs %}
$.fn.editable.defaults.mode = 'inline';
$('.contact_value').editable({
  'success' : function(response, newValue) {
      $(this).closest('li').removeClass('alert-danger', 1000 )
    }
});
{% endblock extrajs %}


{% block extrascripts %}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock extrascripts %}


{% block header %}
<ul class="breadcrumb">
  <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
  <li class="active">{% trans "Your profile" %}</li>
</ul>


<ul class="nav nav-tabs">
  <li><a href="{% url 'account' %}">{% trans "Your Profile" %}</a></li>
  <li><a href="{% url 'your-instances' %}">{% trans "Your instances" %}</a></li>
  <li class="active"><a href="{% url 'your-contacts' %}">{% trans "Your contacts" %}</a></li>
</ul>
{% endblock header %}

{% block content %}
<!-- Tab panes -->
<div class="tab-content">
  <h3 class="page-header">
    Contacts
  </h3>
  <div class="tab-pane active" id="contacts">
    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Contact type</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in object_list %}
        <tr{% if contact.is_bounced %} class="danger"{% endif %}>
          <td>
            <span>
              <a href="#" title="{% trans 'Click to edit' %}" class="contact_value" data-pk="{{contact.id}}" data-type="text" data-name="value" data-url="{% url 'contact_value_update' pk=contact.id %}" data-title="{% trans 'Update contact' %}">{{ contact.value }}</a>
            </span>
            {% if contact.is_bounced %}<span class="badge">{% trans 'Bounced' %}</span>{% endif %}
          </td>
          <td>{{ contact.person.name }}</td>
          <td>{{ contact.contact_type }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>




{% endblock content%}